
<mat-stepper class="realsoft-wizard" #stepper [labelPosition]="labelPosition" [linear]="linear" [orientation]="orientation" [selectedIndex]="selectedIndex" (selectionChange)="change($event)">
  <mat-step *ngFor="let stepHeader of stepsHeaders; let i = index" [editable]="stepHeader.editable" [stepControl]="stepHeader.stepControl">
    <ng-template matStepLabel>{{lang === 'ar' ? stepHeader.labelAr : stepHeader.label}}</ng-template>
      <ng-container *ngFor="let step of stepsContents; let i = index">
        <ng-container *ngIf="selectedIndex === i">
        <ng-container *ngTemplateOutlet="step"></ng-container>
        <div class="gap">
          <ng-container *ngIf="stepHeader.back">
            <button mat-button matStepperPrevious class="realsoft-wizard-back-button" (click)="backClicked($event)">{{stepHeader.backButton}}</button>
          </ng-container>

          <ng-container *ngIf="stepHeader.next">
            <button mat-button matStepperNext class="realsoft-wizard-next-button" (click)="nextClicked($event)">{{stepHeader.nextButton}}</button>
          </ng-container>

          <ng-container *ngIf="stepHeader.submit">
            <button mat-flat-button class="realsoft-wizard-submit-button" (click)="submitClicked($event)">
              {{stepHeader.submitButton}}
             </button>
          </ng-container>
        </div>
      </ng-container>
      </ng-container>
  </mat-step>
</mat-stepper>
