@import '../../../variables.scss';

//Large Primary Button Style
.realsoft-primary-btn-large{
    background: $primary-color !important;
    color: $white-color !important;
    font-size: $large-text !important;
    line-height: $large-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 0px !important;
    }

    &:hover{
        background: $primary-color-hover !important;
    }

    &:focus{
        background: $primary-color-focus !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
    }
}

//Large Primary Stroked Button Style
.realsoft-primary-stroked-btn-large{
    background: $white-color !important;
    border: 1px solid $primary-color !important;
    color: $primary-color !important;
    font-size: $large-text !important;
    line-height: $large-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 0px !important;
    }

    &:hover{
        background: $primary-stroked-hover-focus !important;
        color: $primary-color-hover !important;
    }

    &:focus{
        background: $primary-stroked-hover-focus !important;
        color: $primary-color-focus !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        border: 1px solid $gray-color !important;
    }
}

//Large Primary Link Button Style
.realsoft-primary-link-btn-large{
    color: $primary-color !important;
    text-decoration: underline !important;
    font-size: $large-text !important;
    height: 38px !important;
    &:hover{
        color: $primary-color-hover !important;
    }
    &:focus{
        color: $primary-color-focus !important;
    }
    &:disabled{
        color: $gray-color !important;
        background: $white-color !important;
    }
}

//Large Primary Button with Prefix Icon
.realsoft-primary-icon-prefix-btn-large{
    background: $primary-color !important;
    color: $white-color !important;
    font-size: $large-text !important;
    line-height: $large-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 0px !important;
    }

    &:hover{
        background: $primary-color-hover !important;
    }

    &:focus{
        background: $primary-color-focus !important;
    }

    
    & .material-icons{
        color: $white-color !important;
        font-size: 22px !important;
        position: relative !important;
        left: -3px !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        & .material-icons{
            color: $gray-color !important;
        }
    }
}

//Large Primary Text Button Style
.realsoft-primary-text-btn-large{
    color: $primary-color !important;
    font-size: $large-text !important;
    height: 38px !important;
    &:hover{
        color: $primary-color-hover!important;
    }
    &:focus{
        color: $primary-color-focus !important;
    }
    &:disabled{
        color: $gray-color !important;
        background: $white-color !important;
    }
}

//Large Primary Button with Suffix Icon
.realsoft-primary-icon-suffix-btn-large{
    background: $primary-color !important;
    color: $white-color !important;
    font-size: $large-text !important;
    line-height: $large-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 0px !important;
    }

    &:hover{
        background: $primary-color-hover !important;
    }

    &:focus{
        background: $primary-color-focus !important;
    }

    
    & .material-icons{
        color: $white-color !important;
        font-size: 22px !important;
        position: relative !important;
        right: -3px !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        & .material-icons{
            color: $gray-color !important;
        }
    }
}

//Large Primary Stroked Button with prefix Icon Style
.realsoft-primary-stroked-icon-prefix-btn-large{
    background: $white-color !important;
    border: 1px solid $primary-color !important;
    color: $primary-color !important;
    font-size: $large-text !important;
    line-height: $large-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 0px !important;
    }

    &:hover{
        color: $primary-color-hover !important;
        background: $primary-stroked-hover-focus !important;
        & .material-icons{
            color: $primary-color-hover !important;
        }
    }

    &:focus{
        color: $primary-color-focus !important;
        background: $primary-stroked-hover-focus !important;
        & .material-icons{
            color: $primary-color-focus !important;
        }
    }

    
    & .material-icons{
        color: $primary-color !important;
        font-size: 22px !important;
        position: relative !important;
        left: -3px !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        border: 1px solid $gray-color !important;
        & .material-icons{
            color: $gray-color !important;
        }
    }
}

//Large Primary Stroked Button with Suffix Icon Style
.realsoft-primary-stroked-icon-suffix-btn-large{
    background: $white-color !important;
    border: 1px solid $primary-color !important;
    color: $primary-color !important;
    font-size: $large-text !important;
    line-height: $large-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 0px !important;
    }

    &:hover{
        color: $primary-color-hover !important;
        background: $primary-stroked-hover-focus !important;
        & .material-icons{
            color: $primary-color-hover !important;
        }
    }

    &:focus{
        color: $primary-color-focus !important;
        background: $primary-stroked-hover-focus !important;
        & .material-icons{
            color: $primary-color-focus !important;
        }
    }

    
    & .material-icons{
        color: $primary-color !important;
        font-size: 22px !important;
        position: relative !important;
        right: -3px !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        border: 1px solid $gray-color !important;
        & .material-icons{
            color: $gray-color !important;
        }
    }
}




