@import '../variables.scss';


//Primary Toggle Button Group Style
.realsoft-toggle-button-group.mat-button-toggle-group{
    border-radius: 28px !important;
    border: 1px solid $primary-color !important;
    box-shadow: none !important;
}

//Primary Toggle Button Label Style
.realsoft-toggle-button-group .mat-button-toggle-label-content{
    font-size: $small-text !important;
    color: $stroked-color !important;
}

//Primary Toggle Button Checked Style
.realsoft-toggle-button-group .mat-button-toggle-checked{
    background-color: $primary-color !important;  
    border-right: 1px solid $primary-color !important;
}

//Primary Toggle Button Checked Label Style
.realsoft-toggle-button-group .mat-button-toggle-checked .mat-button-toggle-label-content{
    color: $white-color !important;
}

//Primary Toggle Button Style
.realsoft-toggle-button-group .mat-button-toggle-button{
    border-right: 1px solid $primary-color !important;
    border-left: none;
}

html:lang(ar) .realsoft-toggle-button-group .mat-button-toggle-button{
    border-left: 1px solid $primary-color !important;
    border-right: none;
}

//Secondary Toggle Button Group Style
.realsoft-toggle-button-group-secondary.mat-button-toggle-group{
    border-radius: 28px !important;
    border: 1px solid $sec-color !important;
    box-shadow: none !important;
}

//Secondary Toggle Button Label Style
.realsoft-toggle-button-group-secondary .mat-button-toggle-label-content{
    font-size: $small-text !important;
    color: $stroked-color !important;
}

//Secondary Toggle Button Checked Style
.realsoft-toggle-button-group-secondary .mat-button-toggle-checked{
    background-color: $sec-color !important;
    border-right: 1px solid $sec-color !important;
}

//Secondary Toggle Button Checked Label Style
.realsoft-toggle-button-group-secondary .mat-button-toggle-checked .mat-button-toggle-label-content{
    color: $white-color !important;
}

//Secondary Toggle Button Style
.realsoft-toggle-button-group-secondary .mat-button-toggle-button{
    border-right: 1px solid $sec-color !important;
    border-left: none;
}

html:lang(ar) .realsoft-toggle-button-group-secondary .mat-button-toggle-button{
    border-left: 1px solid $sec-color !important;
    border-right: none;
}

// .realsoft-toggle-button-group-secondary .mat-button-toggle-disabled {
//     color: rgba(0,0,0,.26);
//     background-color: #eee !important;
// }
// .realsoft-toggle-button-group .mat-button-toggle-disabled {
//     color: rgba(0,0,0,.26);
//     background-color: #eee !important;
// }

.realsoft-toggle-button-group .mat-button-toggle-button {
    border-right: 0px solid #bababa !important;
}

html:lang(ar) .realsoft-toggle-button-group .mat-button-toggle-button {
    border-left: 0px solid #bababa !important;
}

.mat-button-toggle-disabled.mat-button-toggle-checked {
    background-color: #eee !important;
    color: #bababa !important;
    border-right: 1px solid #bababa !important ;
    & .mat-button-toggle-label-content{
        color: #bababa !important;
    }
}


html:lang(ar) .mat-button-toggle-disabled.mat-button-toggle-checked {
    background-color: #eee !important;
    color: #bababa !important;
    border-left: 1px solid #bababa !important ;
    & .mat-button-toggle-label-content{
        color: #bababa !important;
    }
}

