<ng-container *ngTemplateOutlet="orientation === 'ltr' ? ltr : ttb"></ng-container>

<ng-template #ttb>
    <div class="wrapper" #zoom>
      <div class="top">
        <div class="level top" (click)="hideAll=!hideAll">
                <div class="department">{{data?.title}}</div>
                <span class="material-icons arrow" *ngIf="!hideAll" [title]="collapseTooltip">keyboard_arrow_up</span>
                <span class="material-icons arrow" *ngIf="hideAll" [title]="expandTooltip">keyboard_arrow_down</span>
              </div>
      </div>
      
      <ul class="orgchart">
        <li [hidden]="hideAll" *ngFor="let dept of data?.children; let i = index"> 
  
            <div class="level first" (click)="hide[dept?.id] = !hide[dept?.id]">
              <div class="department">{{dept?.title}}</div>
              <span class="material-icons second-arrow" *ngIf="dept?.children?.length > 0 && hide[dept?.id]" [title]="expandTooltip">keyboard_arrow_down</span>
              <span class="material-icons second-arrow" *ngIf="dept?.children?.length > 0 && !hide[dept?.id]" [title]="collapseTooltip">keyboard_arrow_up</span>
            </div>
  
          <ul *ngIf="dept?.children?.length > 0">
            <li *ngFor="let subDept of dept?.children" [hidden]="hide[dept.id]">
  
              <div class="level second" (click)="hide[subDept?.id] = !hide[subDept?.id]">
                <div class="department">{{subDept?.title}}</div>
                <span class="material-icons second-arrow" *ngIf="subDept?.children?.length > 0 && hide[subDept?.id]" [title]="expandTooltip">keyboard_arrow_down</span>
                <span class="material-icons second-arrow" *ngIf="subDept?.children?.length > 0 && !hide[subDept?.id]" [title]="collapseTooltip">keyboard_arrow_up</span>
              </div>
  
              <ul *ngIf="subDept?.children?.length > 0">
                <li *ngFor="let Dept of subDept?.children" [hidden]="hide[subDept?.id]">
  
                  <div class="level third" (click)="hide[Dept?.id] = !hide[Dept?.id]">
                    <div class="department">{{Dept?.title}}</div>
                    <span class="material-icons second-arrow" *ngIf="Dept?.children?.length > 0 && hide[Dept?.id]" [title]="expandTooltip">keyboard_arrow_down</span>
                    <span class="material-icons second-arrow" *ngIf="Dept?.children?.length > 0 && !hide[Dept?.id]" [title]="collapseTooltip">keyboard_arrow_up</span>
                  </div>
  
                  <ul *ngIf="Dept?.children?.length > 0">
                    <li *ngFor="let nestedSubDept of Dept?.children" [hidden]="hide[Dept?.id]">
  
                      <div class="level fourth" (click)="hide[nestedSubDept?.id] = !hide[nestedSubDept?.id]">
                        <div class="department">{{nestedSubDept?.title}}</div>
                        <span class="material-icons second-arrow" *ngIf="nestedSubDept?.children?.length > 0 && hide[nestedSubDept?.id]" [title]="expandTooltip">keyboard_arrow_down</span>
                        <span class="material-icons second-arrow" *ngIf="nestedSubDept?.children?.length > 0 && !hide[nestedSubDept?.id]" [title]="collapseTooltip">keyboard_arrow_up</span>
                      </div>
                      <ul *ngIf="nestedSubDept?.children?.length > 0">
                        <li *ngFor="let fifthDept of nestedSubDept?.children" [hidden]="hide[nestedSubDept?.id]">
                          <div class="level fifth" (click)="hide[fifthDept?.id] = !hide[fifthDept?.id]">
                            <div class="department">{{fifthDept?.title}}</div>
                            <span class="material-icons second-arrow" *ngIf="fifthDept?.children?.length > 0 && hide[fifthDept?.id]" [title]="expandTooltip">keyboard_arrow_down</span>
                            <span class="material-icons second-arrow" *ngIf="fifthDept?.children?.length > 0 && !hide[fifthDept?.id]" [title]="collapseTooltip">keyboard_arrow_up</span>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

</ng-template>


<ng-template #ltr>
  
    <div class="treeview" #zoom>
      <ul>
        <li>
          <div class="treeview__level_top parent" (click)="hideAll=!hideAll">
            <span class="level-title">{{data?.title}}</span>
            <span class="material-icons arrow__first" *ngIf="!hideAll" [title]="collapseTooltip">keyboard_arrow_left</span>
            <span class="material-icons arrow__first" *ngIf="hideAll" [title]="expandTooltip">keyboard_arrow_right</span>
          </div>
  
          <ul>
            <li *ngFor="let dept of data?.children; let i = index" [hidden]="hideAll">
  
              <div class="treeview__level first" (click)="hide[dept?.id] = !hide[dept?.id]">
                <span class="level-title">{{dept?.title}}</span>
                <span class="material-icons ltr-arrow" *ngIf="dept?.children?.length > 0 && !hide[dept?.id]" [title]="collapseTooltip">keyboard_arrow_up</span>
                <span class="material-icons ltr-arrow" *ngIf="dept?.children?.length > 0 && hide[dept?.id]" [title]="expandTooltip" >keyboard_arrow_down</span>
              </div>
  
              <ul *ngIf="dept?.children?.length > 0">
                <li *ngFor="let subDept of dept?.children" [hidden]="hide[dept.id]">
  
                  <div class="treeview__level second" (click)="hide[subDept?.id] = !hide[subDept?.id]">
                    <span class="level-title">{{subDept?.title}}</span>
                    <span class="material-icons ltr-arrow" *ngIf="subDept?.children?.length > 0 && !hide[subDept?.id]" [title]="collapseTooltip">keyboard_arrow_up</span>
                    <span class="material-icons ltr-arrow" *ngIf="subDept?.children?.length > 0 && hide[subDept?.id]" [title]="expandTooltip">keyboard_arrow_down</span>
                  </div>
  
                  <ul *ngIf="subDept?.children?.length > 0">
                    <li *ngFor="let Dept of subDept?.children" [hidden]="hide[subDept?.id]">
  
                      <div class="treeview__level third" (click)="hide[Dept?.id] = !hide[Dept?.id]">
                        <span class="level-title">{{Dept?.title}}</span>
                        <span class="material-icons ltr-arrow" *ngIf="Dept?.children?.length > 0 && !hide[Dept?.id]" [title]="collapseTooltip">keyboard_arrow_up</span>
                        <span class="material-icons ltr-arrow" *ngIf="Dept?.children?.length > 0 && hide[Dept?.id]" [title]="expandTooltip">keyboard_arrow_down</span>
                      </div>
  
                      <ul *ngIf="Dept?.children?.length > 0">
                        <li *ngFor="let nestedDept of Dept?.children" [hidden]="hide[Dept?.id]">
  
                          <div class="treeview__level fourth" (click)="hide[nestedDept?.id] = !hide[nestedDept?.id]">
                            <span class="level-title">{{nestedDept?.title}}</span>
                            <span class="material-icons ltr-arrow" *ngIf="nestedDept?.children?.length > 0 && !hide[nestedDept?.id]" [title]="collapseTooltip">keyboard_arrow_up</span>
                            <span class="material-icons ltr-arrow" *ngIf="nestedDept?.children?.length > 0 && hide[nestedDept?.id]" [title]="expandTooltip">keyboard_arrow_down</span>
                          </div>
  
                          <ul *ngIf="nestedDept?.children?.length > 0">
                            <li *ngFor="let fifthDept of nestedDept?.children" [hidden]="hide[nestedDept?.id]">
  
                              <div class="treeview__level fifth" (click)="hide[fifthDept?.id] = !hide[fifthDept?.id]">
                                <span class="level-title">{{fifthDept?.title}}</span>
                                <span class="material-icons ltr-arrow" *ngIf="fifthDept?.children?.length > 0 && !hide[fifthDept?.id]" [title]="collapseTooltip">keyboard_arrow_up</span>
                                <span class="material-icons ltr-arrow" *ngIf="fifthDept?.children?.length > 0 && hide[fifthDept?.id]" [title]="expandTooltip">keyboard_arrow_down</span>
                              </div>
  
                            </li>
                          </ul>
  
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
  </div>

</ng-template>
