@import '../variables.scss';

.realsoft-button-spinner{
  position: relative;
  top: 1px;
}

.realsoft-spinner-color.mat-progress-spinner circle, .realsoft-spinner-color.mat-spinner circle {
  stroke: $primary-color !important;
}
