@import '../../variables.scss';

//Input Field Height
.text-field-multi-icons.mat-form-field-appearance-outline .mat-form-field-flex{
    height: $medium-input-field-height;
}

//Input Field Items Alignment
.text-field-multi-icons .mat-form-field-flex{
    align-items: center;
}

//Input Field Focus State Style
.text-field-multi-icons.mat-form-field:not(.mat-form-field-disabled).mat-focused .mat-form-field-label {
    color: $input-field-focus-color-outline !important;
}

.text-field-multi-icons.mat-form-field:not(.mat-form-field-disabled).mat-focused .mat-form-field-label mat-label {
    color: $input-field-focus-color-outline !important;
}

.text-field-multi-icons.mat-form-field:not(.mat-form-field-disabled).mat-focused .mat-form-field-outline {
    color: $input-field-focus-color-outline !important;
}

//Input Field Input Element Style
.text-field-multi-icons .mat-input-element{
    position: relative !important;
    bottom: 2px;
    font-size: $normal-text !important;
    line-height: 24px;
    color: $font-color;
}

//Input Field Default State Outline State
.text-field-multi-icons.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $input-field-outline-color !important;
}

//Input Field Prefix Icon Styling
.text-field-multi-icons.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon{
    font-size: 24px;
    position: relative !important;
    bottom: 2px;
    color: $input-field-prefix-icon-color !important;
}

//Input Field Suffix Icon Styling
.text-field-multi-icons.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon{
    position: relative !important;
    color: $input-field-icon-gray-color !important;
    cursor: pointer !important;
    font-size: 24px;
    bottom: 1px;
}

//Input Field Hover State Styling
.text-field-multi-icons.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  $input-field-hover-color !important;
}

.text-field-multi-icons.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-label {
    color:  $input-field-hover-color !important;
}

.text-field-multi-icons.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-label mat-label {
    color:  $input-field-hover-color !important;
}

//Input Field Label Styling
.text-field-multi-icons .mat-form-field-wrapper .mat-form-field-label mat-label{
    line-height: 20px !important;
    position: relative;
    bottom: -3px;
    color: $input-field-label-color;
    font-size: $normal-text;
}

//Input Field Floating Label Style
.text-field-multi-icons.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translateY(-1.1em) scale(0.75) !important;
    width: 133.3333333333% !important;
}
