<ng-container>
  <div class="table-header">
    <!-- Filter -->
    <div class="global-search">
      <ng-container *ngIf="isGlobalSearch">
        <mat-form-field class="table-global-search" appearance="outline">
          <mat-label>{{lang === 'ar' ? 'بحث' : 'Search'}}</mat-label>
          <input #searchInput matInput [placeholder]="lang === 'ar' ? 'بحث' : 'Search'" [formControl]="searchFilter" />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </ng-container>
    </div>
    <!-- Custom Column Feature -->
    <ng-container *ngIf="getButtonGroupTemplate() as template;">
      <div>
        <ng-container *ngTemplateOutlet="template"></ng-container>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="expandAllToggle">
    <div class="expand-nodes-container">
      <mat-slide-toggle class="realsoft-tree-table-slide-toggle" [checked]="expandAll" (change)="collapse($event)">{{expandAllText}}</mat-slide-toggle>
    </div>
  </ng-container>
  <!-- Table -->
  <div class="realsoft-tree-table">
    <table mat-table [dataSource]="dataSource">
      <ng-container *ngFor="let row of rowActionIcon; index as i">
        <ng-container *ngIf="tableColumns?.length" [matColumnDef]="row.iconColumnName">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            <span class="table-header-text">{{ lang === 'ar' ? row.iconColumnNameAr : row.iconColumnName }}</span>
          </th>
          <div>
              <td mat-cell *matCellDef="let element" [id]="row.iconColumnName" (click)="emitRowAction(element, row.iconName, row.iconColumnName)" class="text-center" [ngClass]="row.className">
                <ng-container *ngIf="element.showIcon">
                  <button mat-icon-button class="text-center table-button">
                    <mat-icon [ngStyle]="{'color': row.iconColor}">{{row.iconName}}</mat-icon>
                  </button>
                </ng-container>
              </td>

          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="isToggleAfter">
        <ng-container *ngFor="let toggle of rowActionToggles; index as i;">
          <ng-container [matColumnDef]="toggle.toggleLabel">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">
              <span class="table-header-text"> {{ lang === 'ar' ? toggle.toggleLabelAr : toggle.toggleLabel}} </span>
            </th>
            <td mat-cell *matCellDef="let element" [id]="toggle.toggleLabel" style="text-align: center;">
              <mat-slide-toggle class="realsoft-tree-table-slide-toggle" [checked]="element.status[i]" [disabled]="element.disabled" (change)="updateActiveStatus(element,toggle.toggleLabel, $event)"></mat-slide-toggle>
            </td>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">
        <!-- if sortable column header -->
        <ng-container>
          <th mat-header-cell *matHeaderCellDef>
            <ng-container *ngIf="tableColumn?.withIcon">
              <mat-icon aria-hidden="false" class="column-header-icon" [ngStyle]="{'color': tableColumn.iconColor}">{{tableColumn?.icon}}</mat-icon>
            </ng-container>
            <span class="table-header-text">{{ lang === 'ar' ? tableColumn?.nameAr : tableColumn?.name }}</span>
            <ng-container *ngIf="tableColumn.action">
              <span class="cursor" (click)="headerClicked(tableColumn.name)">
                <span class="material-icons header-action-icon">add</span>
                <span class="header-action-text">{{headerActionText}}</span>
              </span>
            </ng-container>
          </th>
        </ng-container>
        <ng-container *ngIf="!tableColumn?.nested">
          <ng-container *ngIf="!tableColumn.clickable">
            <td mat-cell *matCellDef="let data" [ngClass]="tableColumn.className">
              <span (click)="nodeClicked(data)">{{ lang === 'ar' ? data.dataKeyAr: data.dataKey }}</span> 
          </td>
          </ng-container>

          <ng-container *ngIf="tableColumn.clickable">
            <td mat-cell *matCellDef="let data" [ngClass]="tableColumn.className" (click)="cellClicked($event)">
              <span (click)="nodeClicked(data)">{{ lang === 'ar' ? data.dataKeyAr: data.dataKey }}</span> 
          </td>
          </ng-container>

        </ng-container>

        <ng-container *ngIf="!tableColumn?.nested && isCount">
          <ng-container *ngIf="!tableColumn.clickable">
            <td mat-cell *matCellDef="let data" [ngClass]="tableColumn.className">
              <span>{{ data.count }}</span> 
          </td>
          </ng-container>

          <ng-container *ngIf="tableColumn.clickable">
            <td mat-cell *matCellDef="let data" [ngClass]="tableColumn.className" (click)="cellClicked($event)">
              <span>{{ data.count }}</span> 
          </td>
          </ng-container>

        </ng-container>

        <!-- column data -->
        <ng-container *ngIf="tableColumn?.nested">
          <td mat-cell *matCellDef="let data" [ngClass]="tableColumn.className">
            <ng-container *ngIf="draggable">
              <mat-icon cdkDragHandle class="dragging-icon">drag_handle</mat-icon>
            </ng-container>
            <ng-container *ngIf="lang === 'en'">
              <button  mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''" [style.marginLeft.px]="data.level * 32" (click)="treeControl.toggle(data)">
                <mat-icon class="mat-icon-rtl-mirror expand-icon">
                  {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
            </ng-container>

            <ng-container *ngIf="lang === 'ar'">
              <button  mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''" [style.marginRight.px]="data.level * 32" (click)="treeControl.toggle(data)">
                <mat-icon class="mat-icon-rtl-mirror expand-icon">
                  {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
            </ng-container>
            <mat-checkbox class="realsoft-tree-table-selection-checkbox" *ngIf="data.checkbox" (click)="$event.stopPropagation()" (change)="onSelectionChange($event, data)" [checked]="selection.isSelected(data)" [disabled]="data.expandable ? parentsDisabled : leafsDisabled"></mat-checkbox>
            <ng-container *ngIf="data.icon">
              <span class="row-node-icon" [class]="data.icon" [ngStyle]="{'color': data.color, 'font-size': size}"></span>
              <!-- <mat-icon aria-hidden="false" class="row-node-icon" [ngStyle]="{'color': data.color}">folder</mat-icon> -->
            </ng-container>
            <span class="tree-node-span" (click)="treeControl.toggle(data)">
              {{ lang === 'ar' ? data.nameAr : data.nameEn }}    
            </span>
            <ng-container *ngIf="data.action">
              <span class="cursor" (click)="nodeClicked(data)">
                <span class="material-icons action-icon">add</span>
                <span class="action-text">{{nodeActionText}}</span>
              </span>
            </ng-container>
          </td>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
<ng-container *ngIf="isLoading">
  <div class="realsoft-skeleton-grid"  *ngFor="let item of repeat(count);"></div>
</ng-container>