<ng-container *ngTemplateOutlet="isDynamic === true ? dynamic : static"></ng-container>

<ng-template #static> 
  <mat-accordion [multi]="isMultiple" class="realsoft-expansion-panel">
    <mat-expansion-panel *ngFor="let panel of panels;let i = index" (opened)="panelOpened(i,$event)" (closed)="panelClosed(i,$event)" (afterCollapse)="afterPanelCollapse($event)" (afterExpand)="afterPanelExpand($event)">
      <mat-expansion-panel-header>
        <mat-panel-title>{{lang === 'ar' ? panel.titleAr : panel.title}}
          <span class="panel-subtitle">
            {{lang === 'ar' ? panel.subtitleAr : panel.subtitle}}
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let panel of panelsContents; let i = index">
          <ng-container *ngIf="selectedPanelIndex === i">
          <ng-container *ngTemplateOutlet="panel"></ng-container>
          </ng-container>
           </ng-container>
      </mat-expansion-panel>
  </mat-accordion>
</ng-template>


<ng-template #dynamic>
  <mat-accordion [multi]="multi" [hideToggle]="hideToggle" class="realsoft-expansion-panel">
    <mat-expansion-panel [disabled]="disabled" [expanded]="expanded" (opened)="openedEvent($event)"  (closed)="closedEvent($event)" (afterExpand)="afterExpandEvent($event)" (afterCollapse)="afterCollapseEvent($event)">
      <mat-expansion-panel-header>
      <mat-panel-title>
        {{ panelTitle }}
      </mat-panel-title>
      <mat-panel-description>
        {{ panelDescription }}
      </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-content></ng-content>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>