@import '../variables.scss';

//Small Primary Icon Styling
.primary-icon-small{
    color: $primary-color;
    font-size: $small-icon;
&:hover{
    color: $primary-color-hover;
    cursor: pointer;
    }
}

//Medium Primary Icon Styling
.primary-icon-medium{
    color: $primary-color;
    font-size: $medium-icon;
&:hover{
    color: $primary-color-hover;
    cursor: pointer;
    }
}

//Large Primary Icon Styling
.primary-icon-large{
    color: $primary-color;
    font-size: $large-icon;
&:hover{
    color: $primary-color-hover;
    cursor: pointer;
    }
}

//Small Secondary Icon Styling
.secondary-icon-small{
    color: $sec-color;
    font-size: $small-icon;
&:hover{
    color: $sec-color-hover;
    cursor: pointer;
    }
}

//Medium Secondary Icon Styling
.secondary-icon-medium{
    color: $sec-color;
    font-size: $medium-icon;
&:hover{
    color: $sec-color-hover;
    cursor: pointer;
    }
}

//Large Secondary Icon Styling
.secondary-icon-large{
    color: $sec-color;
    font-size: $large-icon;
&:hover{
    color: $sec-color-hover;
    cursor: pointer;
    }
}

//Icons Tooltip Styling
.icon-tooltip {
    background-color:$tooltip-color !important;
}