html:lang(ar) .text-field-no-icon-extra-small .mat-input-element{
    bottom: 21px !important;
    font-size: 14px !important;
}

.text-field-no-icon-extra-small.mat-form-field-appearance-outline .mat-form-field-flex{
    height: 30px !important;
}