.realsoft-paginator-outer-container{
    display: flex;

    & .realsoft-paginator-container{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 8px;
        flex-wrap: wrap;
        width: 100%;
        min-height: 56px;
    }

    & .realsoft-paginator-page-size{
        display: flex;
        align-items: baseline;
        margin-right: 8px;

        & .realsoft-paginator-page-size-label{
            margin: 0 4px;
        }

        & .realsoft-paginator-page-size-select{
            margin: 0 4px;
            width: 84px;
        }

    }

    & .realsoft-paginator-range-actions{
        display: flex;
        align-items: center;

        & .realsoft-paginator-range-label{
            margin: 0 32px 0 24px;
        }
    }
} 