@import '../variables.scss';

.mat-menu-panel{
    &:lang(ar){
        direction: rtl;
    }
  }
.realsoft-button{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: inherit ;
    background: transparent;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: $border-radius;
    overflow: visible;
    .mat-icon{
        color: $primary-color !important;
    }
} 
.mat-menu-item{
    height: 30px !important;
    line-height: 30px !important;
    padding: 0 10px !important;
    color: $black-color !important;
    font-size: $small-text !important;
    margin-inline-end: 10px;
    text-align: start;;
    .mat-icon {
        color: $primary-color !important;
    }
    &[disabled]{
        color: $gray-color !important;
    }
} 
.menu-icon{
    position: relative;
    bottom: -5px;
    font-size: 20px;
    color: $primary-color;
}
.menu-btn{
    border: 1px solid #ccc;
    border-radius: $border-radius;
    &:hover {
        background-color: $stroked-hover;
        box-shadow: none;
        outline: none;
        }

    &:disabled {
        border: 1px solid $gray-color;
        background-color: $disabled-color;
        color: $gray-color;
        cursor: not-allowed;
        }
}
