@import '../variables.scss';

//Wizard Selected Step Style
.realsoft-wizard .mat-step-header .mat-step-icon.mat-step-icon-selected{
    border: 3px solid $stroked-focus !important;
    background: $primary-color !important;
    width: 40px !important;
    height: 40px !important;
    font-size: 20px !important;
}

//Wizard Step Style
.realsoft-wizard .mat-step-header .mat-step-icon.mat-step-icon-state-number{
    border: 3px solid $stroked-focus;
    background: $dark-gray;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

//Wizard Done Step Style
.realsoft-wizard .mat-step-header .mat-step-icon.mat-step-icon-state-done{
    border: 3px solid $stroked-focus !important;
    background: $sec-color !important;
    width: 40px !important;
    height: 40px !important;
    font-size: 20px !important;
}

//Wizard Editable Step Style
.realsoft-wizard .mat-step-header .mat-step-icon.mat-step-icon-state-edit{
    border: 3px solid $stroked-focus !important;
    background: $sec-color !important;
    width: 40px !important;
    height: 40px !important;
    font-size: 20px !important;
}

//Horizontal Wizard Divider Style
.realsoft-wizard .mat-step-header::after,   .realsoft-wizard .mat-step-header::before,   .realsoft-wizard .mat-stepper-horizontal-line{
    top: 47px !important;
}

//Vertical Wizard Divider Style
.realsoft-wizard .mat-stepper-vertical-line::before{
  left: 9px !important;
}

//Wizard Selected Step Label Style
.realsoft-wizard .mat-step-label.mat-step-label-active.mat-step-label-selected{
    color: $primary-color !important;
    font-weight: $medium-font-weight;
    font-size: $normal-text;
}

//Wizard Done Step Label Style
.realsoft-wizard .mat-step-label.mat-step-label-active{
    color: $sec-color !important;
    font-weight: $regular-font-weight;
    font-size: $normal-text;
}

//Wizard Untouched Label Style
.realsoft-wizard .mat-step-label{
    color: $dark-gray !important;
    font-weight: $regular-font-weight;
    font-size: $normal-text;
}

//Wizard Next Button Style
.realsoft-wizard-next-button{
  background: $primary-color !important;
  color: $white-color !important;
  font-size: $normal-text !important;
  line-height: $medium-button-height !important;
  border-radius: 6px !important;

  &__span{
      position: relative !important;
      top: -1px !important;
  }

  &:hover{
      background: $primary-color-hover !important;
  }

  &:focus{
      background: $primary-color-focus !important;
  }

  &:disabled{
      background: $disabled-color !important;
      color: $gray-color !important;
  }
}

//Wizard Submit Button Style
.realsoft-wizard-submit-button{
    background: $primary-color !important;
    color: $white-color !important;
    font-size: $normal-text !important;
    line-height: $medium-button-height !important;
    border-radius: 6px !important;
  
    &__span{
        position: relative !important;
        top: -1px !important;
    }
  
    &:hover{
        background: $primary-color-hover !important;
    }
  
    &:focus{
        background: $primary-color-focus !important;
    }
  
    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
    }
}

//Wizard Back Button Style
.realsoft-wizard-back-button{
  background: $white-color !important;
  border: 1px solid $primary-color !important;
  color: $primary-color !important;
  font-size: $normal-text !important;
  line-height: $medium-button-height !important;
  border-radius: 6px !important;

  &__span{
      position: relative !important;
      top: -1px !important;
  }

  &:hover{
      background: $primary-stroked-hover-focus !important;
      color: $primary-color-hover !important;
  }

  &:focus{
      background: $primary-stroked-hover-focus !important;
      color: $primary-color-focus !important;
  }

  &:disabled{
      background: $disabled-color !important;
      color: $gray-color !important;
      border: 1px solid $gray-color !important;
  }
}

//Wizard Actions Buttons Gap
.gap{
  display: flex;
  gap: 20px;
}