:root {
    --realsoft-option-label-text-color : #201a1b;
    --realsoft-option-label-text-line-height: 1.25rem;
    --realsoft-option-label-text-size: 1rem;
    --realsoft-option-label-text-tracking: 0.006rem;
    --realsoft-option-label-text-weight: 400;
    --realsoft-option-selected-state-label-text-color: #2b151b;
    --realsoft-option-hover-state-layer-color: rgba(32, 26, 27, .08);
    --realsoft-option-focus-state-layer-color: rgba(32, 26, 27, .12);
    --realsoft-option-selected-state-layer-color: #e9e1ed;
    --realsoft-option-label-text-font: Roboto, sans-serif;
}