@import '../variables.scss';

.mat-focused.mat-warn .mat-form-field-outline-thick, .mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: $danger-color !important;
}

.mat-form-field{
    width: 100% !important;
}

.mat-form-field-disabled .mat-form-field-outline{
    color: $gray-color !important;
    background-color: $disabled-color !important;
    border-radius: 28px !important;
}

[dir=rtl] .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-left-style: solid !important;
    border-right-style: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    width: 75% !important;
}

.mat-form-field-wrapper .mat-form-field-label mat-label{
    font-size: 14px !important;
}

html:lang(ar) body, html:lang(en) body {
    .mat-form-field:not(.mat-form-field-appearance-legacy).mat-form-field-invalid {
      .mat-form-field-prefix , .mat-form-field-suffix {
        .mat-icon {
          color: $danger-color !important;
        }
      }
    }
}

.mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon { 
    font-size: 24px;
}

.mat-form-field-disabled .mat-form-field-label{
    transform: translate(0.8em,-0.8em) scale(0.75) !important;
}

.mat-form-field-disabled  .mat-form-field-outline-gap {
    border-top-color: currentColor !important;
}

.mat-chip-list-wrapper {
    height: 28px !important;
    top: -4px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: inline-flex !important;
    max-width: calc(100% - 0px) !important;
    min-width: calc(100% - 139px) !important;
    gap: 6px !important;
}

.mat-chip-text{
    color: $black-color !important;
}

.mat-standard-chip.mat-chip-disabled .mat-chip-remove, .mat-standard-chip.mat-chip-disabled .mat-chip-trailing-icon{
    top: 5px;
    position: relative;
}

.multi-select-form-field .mat-select-disabled .mat-chip.mat-standard-chip{
    background-color: #E0E0E0 !important;
    opacity: 1 !important;
}

