@import '../variables.scss';

//
.realsoft-radio-button .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $primary-color !important;
}

.realsoft-radio-button .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $primary-color !important;
}

.realsoft-radio-button.mat-radio-button.mat-accent{
  & .mat-radio-inner-circle, & .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
  &.mat-radio-checked .mat-radio-persistent-ripple{
      background-color: $primary-color !important;
  }
  &.mat-radio-checked .mat-radio-outer-circle{
      border-color: $primary-color !important;
  }
  &-inner-container{
      background-color: $white-color !important;
  }
}

.realsoft-radio-button .mat-radio-outer-circle{
    border-color: $gray-color !important;
    &:hover{
        border-color: $primary-color !important;
    }
}

.realsoft-radio-button.mat-radio-disabled
{
  .mat-radio-outer-circle{
      background-color: $disabled-color !important;
      border-color: $gray-color !important;
  }
  .mat-radio-label-content{
      color: rgba(19,18,28,.70) !important;
  }
}

html:lang(ar) .mat-radio-container{
    margin-right: 20px !important;
}
html:lang(en) .mat-radio-container{
    margin-left: 6px !important;
}