
@import '../variables.scss';

//Text Area Input Field Style
.custom-text-area .mat-input-element{
    color: $font-color !important;
    font-size: $normal-text !important;
    position: relative !important;
}

html:lang(ar) .custom-text-area .mat-input-element{
    position: relative !important;
    right: unset !important;
    left: 8px !important;
}

//Text Area Default State Outline Style
.custom-text-area.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $input-field-outline-color !important;
}

//Text Area Label Style
.custom-text-area .mat-form-field-wrapper .mat-form-field-label mat-label{
    color: $input-field-label-color;
    font-size: $normal-text;
}

//Text Area Hover State Style
.custom-text-area.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  $input-field-hover-color !important;
}
.custom-text-area.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-label {
    color:  $input-field-hover-color !important;
}
.custom-text-area.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-label mat-label {
    color:  $input-field-hover-color !important;
}

//Text Area Focus State Style
.custom-text-area.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-label {
    color: $input-field-focus-color-outline !important;
}
.custom-text-area.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-label mat-label {
    color: $input-field-focus-color-outline !important;
}
.custom-text-area.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-outline {
    color: $input-field-focus-color-outline !important;
}

.non-resizable{
    resize: none !important;
}
textarea{
    height: auto !important;
}