@import '../variables.scss';

 .mat-progress-bar-buffer {
    background-color: $track-color !important;
} 
.mat-progress-bar-fill::after {
    background-color: $primary-color !important;
}  
.mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
    background-color: $danger-color !important;
}
.mat-progress-bar.mat-warn .mat-progress-bar-buffer {
    background-color: $danger-bg !important;
}
.tooltip-color {
    background: $tooltip-color !important;
}
.progress-bar-container {
  margin: 0.5rem !important;
  .mat-progress-bar {
    display: inline-block !important;
    width: 92% !important;
  }
  .mat-icon {
    position: relative !important;
    top: 9px !important;
    cursor: pointer !important;
    color: $tabs-title !important;
    &:hover{
      transform: scale(0.98);
    }
  }
  .mat-error {
    display: block;
    font-size: $small-text !important;
    color: $danger-color !important;
    font-family: myfont-light !important;
  }
}
.progress-bar-container.error-progress-bar {
  .mat-icon {
    color: $danger-color !important;
  }
}
  