@import '../variables.scss';

//Default State Checkbox Style
.checkbox-style .mat-checkbox-frame, .mat-radio-outer-circle {
    border-color: $gray-color;
}

//Checkbox Ripple Element Style
.checkbox-style.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: $primary-color !important;
}

//Checked State Checkbox Style
 .checkbox-style.mat-checkbox{
    &-indeterminate.mat-accent .mat-checkbox-background, &-checked.mat-accent .mat-checkbox-background{
    background-color: $primary-color !important;
    }
}

//Disabled State Checkbox Style
.checkbox-style.mat-checkbox-disabled{
    .mat-checkbox-inner-container{
        background-color: $disabled-color !important;
    }
    .mat-checkbox-frame {
      border-color: $dark-gray-color !important;
    }
}

//Hover State Checkbox Style
.checkbox-style.mat-checkbox:hover:not(.mat-checkbox-disabled) {
    .mat-checkbox-frame {
      border-color: $primary-color !important;//what ever color you want
    }
}