
  //Input Field Align Items
.text-field-prefix-icon .mat-form-field-flex{
    align-items: center !important;
}
.text-field-prefix-icon.mat-form-field-appearance-outline .mat-form-field-flex{
  height: 40px !important;
}
.text-field-prefix-icon .mat-form-field-outline-gap {
  border-top: 1px solid !important;
  width: auto !important;
}
html:lang(ar) .text-field-prefix-icon .mat-form-field-outline-start {
  border-radius: 0px 6px 6px 0px !important;
  min-width: 59px !important;

  &.mat-form-field-disabled{
      background-color: $white-color !important;
  }
}
.text-field-prefix-icon .mat-form-field-outline-start {
  border-radius: 6px 0 0 6px !important;
  min-width: 59px !important;

  &.mat-form-field-disabled{
      background-color: $white-color !important;
  }
}

.text-field-prefix-icon .mat-form-field-outline-end {
  border-radius: 0 6px 6px 0 !important;
  min-width: 6px !important;
  &.mat-form-field-disabled{
      background-color: $white-color !important;
  }
}
html:lang(ar) .text-field-prefix-icon .mat-form-field-outline-end {
  border-radius: 6px 0 0 6px !important;
  min-width: 6px !important;
  &.mat-form-field-disabled{
      background-color: $white-color !important;
  }
}
.text-field-prefix-icon.mat-form-field:not(.mat-form-field-should-float) .mat-input-placeholder {
  padding-left: 10px !important;
  box-sizing: border-box;
}

.text-field-prefix-icon.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-input-element{
  position: relative;
  bottom: 1px !important;
  font-size: 12px;
  line-height: 24px !important;
}

html:lang(ar) .text-field-prefix-icon.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-input-element{
  position: relative;
  bottom: 2px !important;
  font-size: 14px;
  line-height: 24px;
}
.text-field-prefix-icon.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
  transform: translateY(-0.4em) scale(0.75) !important;
  width: 133.3333333333% !important;
}

.text-field-prefix-icon.mat-form-field-appearance-outline .mat-form-field-outline {
  color: $gray-color !important;
}
/* Font color */
.text-field-prefix-icon.input.mat-input-element {
  color: $dark-font-color !important;
}
.text-field-prefix-icon.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
.text-field-prefix-icon.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.text-field-prefix-icon.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
  border-width: 1px !important;
}


.text-field-prefix-icon.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon{
  padding-left: 7px !important;
  padding-right: 3px !important;
  position: relative !important;
  bottom: 0px !important;
  color: $primary-color !important;
  font-size: 20px;
}

html:lang(ar) .text-field-prefix-icon.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon{
  padding-left: 14px !important;
  padding-right: 38px !important;
  position: relative !important;
  bottom: 8px !important;
  color: $primary-color !important;
}

.text-field-prefix-icon.mat-form-field-appearance-outline:not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-outline {
  color:  #34314C !important;
}
.text-field-prefix-icon.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label {
  color:  #34314C !important;
}

html:lang(ar) .text-field-prefix-icon .mat-form-field-wrapper .mat-form-field-label mat-label{
  font-size: 12px !important;
  position: relative !important;
  bottom: 1px !important;
}

.text-field-prefix-icon .mat-form-field-wrapper .mat-form-field-label mat-label{
  line-height: 23px !important;
  position: relative;
  bottom: -1px;
  font-size: 12px;
}