@import '../../variables.scss';

//Input Field Height
.text-field-no-icon.mat-form-field-appearance-outline .mat-form-field-flex{
    height: $medium-input-field-height;
}

//Input Field Align Items
.text-field-no-icon .mat-form-field-flex{
    align-items: center;
}

//Input Field Floating Label Design
.text-field-no-icon.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translateY(-1.1em) scale(0.75);
    width: 133.3333333333% !important;
}

//Input Field Label Design
.text-field-no-icon .mat-form-field-wrapper .mat-form-field-label mat-label{
    position: relative;
    bottom: 3px;
    line-height: 24px;
    font-size: $normal-text;
    color: $input-field-label-color;
    padding-left: 1px;
}

//Input Field Focus State Style
.text-field-no-icon.mat-form-field:not(.text-field-invalid):not(.mat-form-field-disabled).mat-focused  .mat-form-field-label {
    color: $input-field-focus-color-outline !important;
}
.text-field-no-icon.mat-form-field:not(.text-field-invalid):not(.mat-form-field-disabled).mat-focused  .mat-form-field-label mat-label {
    color: $input-field-focus-color-outline !important;
}
.text-field-no-icon.mat-form-field:not(.text-field-invalid):not(.mat-form-field-disabled).mat-focused .mat-form-field-outline {
    color: $input-field-focus-color-outline !important;
}

//Input Field Input Element Style
.text-field-no-icon .mat-input-element{
    position: relative;
    bottom: 4px;
    line-height: 20px;
    font-size: $normal-text;
    color: $font-color;
}

html:lang(ar) .text-field-no-icon .mat-input-element{
    right: -8px !important;
}

//Input Field Hover State Style
.text-field-no-icon.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  $input-field-hover-color !important;
}
.text-field-no-icon.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-label {
    color:  $input-field-hover-color !important;
}

.text-field-no-icon.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-label mat-label {
    color:  $input-field-hover-color !important;
}

//Input Field Default State Outline Style
.text-field-no-icon.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $input-field-outline-color !important;
}
