@import '../../variables.scss';

//Input Field Height
.text-field-suffix-icon.mat-form-field-appearance-outline .mat-form-field-flex{
    height: $medium-input-field-height;
}

//Input Field Align Items
.text-field-suffix-icon .mat-form-field-flex{
    align-items: center;
}

//Input Field Floating Label Style
.text-field-suffix-icon.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translateY(-1.1em) scale(0.75);
    width: 133.3333333333% !important;
}

//Input Field Focus State Style
.text-field-suffix-icon.mat-form-field:not(.mat-form-field-disabled).mat-focused .mat-form-field-label {
    color: $input-field-focus-color-outline  !important;
}
.text-field-suffix-icon.mat-form-field:not(.mat-form-field-disabled).mat-focused .mat-form-field-label mat-label{
    color: $input-field-focus-color-outline  !important;
}
.text-field-suffix-icon.mat-form-field:not(.mat-form-field-disabled).mat-focused .mat-form-field-outline {
    color: $input-field-focus-color-outline  !important;
}

//Input Field Input Element
.text-field-suffix-icon .mat-input-element{
    position: relative !important;
    padding-left: 2px;
    bottom: 3px !important;
    font-size: $normal-text;
    line-height: 24px;
    color: $font-color;
}

//Input Field Default State Outline Style
.text-field-suffix-icon.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $input-field-outline-color !important;
}

//Input Field Suffix Icon Style
.text-field-suffix-icon.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon{
    position: relative !important;
    bottom: 1px !important;
    color: $input-field-suffix-icon-color !important;
    font-size: 22px;
}

//Input Field Hover State Style
.text-field-suffix-icon.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  $input-field-hover-color  !important;
}
 .text-field-suffix-icon.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label {
    color:  $input-field-hover-color !important;
}
.text-field-suffix-icon.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label mat-label {
    color:  $input-field-hover-color !important;
}

//Input Field Label Style
.text-field-suffix-icon .mat-form-field-wrapper .mat-form-field-label mat-label{
    line-height: 20px !important;
    position: relative;
    bottom: -2px;
    font-size: $normal-text;
    color: $input-field-label-color;
    padding-left: 3px;
}