<ng-container *ngTemplateOutlet="configurations?.alertType === 'warning' ? warning : (configurations?.alertType === 'danger' ? danger : (configurations?.alertType === 'success' ? success : (configurations?.alertType === 'dark' ? dark : info)))">
</ng-container>

<ng-template #info>
    <div class="realsoft-alert info-alert" [hidden]="hide">
        <p>
          <span class="material-icons">
            {{alertIcon}}
          </span>{{alertMsg}}
        </p>
        <span class="material-icons close" *ngIf="configurations?.closable" (click)="hideAlert()">close</span>
      </div>
</ng-template>

<ng-template #danger>
    <div class="realsoft-alert danger-alert" [hidden]="hide">
        <p>
          <span class="material-icons">
            {{alertIcon}}
          </span>{{alertMsg}}
        </p>
        <span class="material-icons close" *ngIf="configurations?.closable" (click)="hideAlert()">close</span>
      </div>
</ng-template>

<ng-template #warning>
    <div class="realsoft-alert warning-alert" [hidden]="hide">
        <p>
          <span class="material-icons">
            {{alertIcon}}
          </span>{{alertMsg}}
        </p>
        <span class="material-icons close" *ngIf="configurations?.closable" (click)="hideAlert()">close</span>
      </div>
</ng-template>

<ng-template #dark>
    <div class="realsoft-alert dark-alert" [hidden]="hide">
        <p>
          <span class="material-icons">
            {{alertIcon}}
          </span>{{alertMsg}}
        </p>
        <span class="material-icons close" *ngIf="configurations?.closable" (click)="hideAlert()">close</span>
      </div>
</ng-template>

<ng-template #success>
    <div class="realsoft-alert success-alert" [hidden]="hide">
        <p>
          <span class="material-icons">
            {{alertIcon}}
          </span>{{alertMsg}}
        </p>
        <span class="material-icons close" *ngIf="configurations?.closable" (click)="hideAlert()">close</span>
      </div>
</ng-template>