@import 'variables.scss';

//Medium Red Button Styles 
.realsoft-red-btn{
    @include buttonStyle($lineheight: 36px, $textSize: $normal-text,$border-radius:28px);
        background-color: $red-color ;
        color: $white-color !important;
        border: 1px solid $red-color ;
        transition: all 0.5s ease;
        height: 40px !important;
    &:hover {
        background-color: $red-color-hover;
        box-shadow: none ;
        outline: none;
        }
    &:focus {
        background-color: $red-color-focus ;
        box-shadow: none ;
        outline: none ;
        }
    &:not(:disabled):not(.disabled):active,
    :not(:disabled):not(.disabled).active {
        background-color: $red-color-focus ;
        }
    &:disabled {
        background-color: $disabled-color  !important;
        color: $gray-color  !important;
        border-color: $gray-color !important;
        cursor: not-allowed;
        } 
    }
//Small Red Button Styles  
    .realsoft-red-btn-small{
    @include buttonStyle($lineheight: 28px, $textSize: $small-text,$border-radius:28px);
        height: 30px !important;
        background-color: $red-color ;
        color: $white-color !important;
        border: 1px solid $red-color ;
        transition: all 0.5s ease;
    &:hover {
        background-color: $red-color-hover;
        box-shadow: none ;
        outline: none;
        }
    &:focus {
        background-color: $red-color-focus ;
        box-shadow: none ;
        outline: none ;
    }
    &:not(:disabled):not(.disabled):active,
    :not(:disabled):not(.disabled).active {
        background-color: $red-color-focus ;
        }
    &:disabled {
        background-color: $disabled-color !important ;
        color: $gray-color !important ;
        border-color: $gray-color !important;
        cursor: not-allowed;
        }
    }

//Large Red Button Styles    
    .realsoft-red-btn-large{
    @include buttonStyle($lineheight: 38px, $textSize: $large-text,$border-radius:28px);
        background-color: $red-color ;
        color: $white-color !important;
        border: 1px solid $red-color ;
        transition: all 0.5s ease;
        height: 56px !important;
    &:hover {
        background-color: $red-color-hover;
        box-shadow: none ;
        outline: none;
        }
    &:focus {
        background-color: $red-color-focus ;
        box-shadow: none ;
        outline: none ;
        }
    &:not(:disabled):not(.disabled):active,
    :not(:disabled):not(.disabled).active {
        background-color: $red-color-focus ;
        }
    &:disabled {
        background-color: $disabled-color !important ;
        color: $gray-color !important ;
        border-color: $gray-color !important;
        cursor: not-allowed;
        }
    }

//Medium Green Button Styles 
.realsoft-green-btn{
    @include buttonStyle($lineheight: 36px, $textSize: $normal-text,$border-radius:28px);
        background-color: $green-color ;
        color: $white-color !important;
        border: 1px solid $green-color ;
        transition: all 0.5s ease;
        height: 40px !important;
    &:hover {
        background-color: $green-color-hover;
        box-shadow: none ;
        outline: none;
        }
    &:focus {
        background-color: $green-color-focus ;
        box-shadow: none ;
        outline: none ;
        }
    &:not(:disabled):not(.disabled):active,
    :not(:disabled):not(.disabled).active {
        background-color: $green-color-focus ;
        }
    &:disabled {
        background-color: $disabled-color  !important;
        color: $gray-color  !important;
        border-color: $gray-color !important;
        cursor: not-allowed;
        } 
    }
//Small Green Button Styles  
    .realsoft-green-btn-small{
    @include buttonStyle($lineheight: 28px, $textSize: $small-text,$border-radius:28px);
        height: 30px !important;
        background-color: $green-color ;
        color: $white-color !important;
        border: 1px solid $green-color ;
        transition: all 0.5s ease;
    &:hover {
        background-color: $green-color-hover;
        box-shadow: none ;
        outline: none;
        }
    &:focus {
        background-color: $green-color-focus ;
        box-shadow: none ;
        outline: none ;
    }
    &:not(:disabled):not(.disabled):active,
    :not(:disabled):not(.disabled).active {
        background-color: $green-color-focus ;
        }
    &:disabled {
        background-color: $disabled-color !important ;
        color: $gray-color !important ;
        border-color: $gray-color !important;
        cursor: not-allowed;
        }
    }

//Large Green Button Styles    
    .realsoft-green-btn-large{
    @include buttonStyle($lineheight: 38px, $textSize: $large-text,$border-radius:28px);
        background-color: $green-color ;
        color: $white-color !important;
        border: 1px solid $green-color ;
        transition: all 0.5s ease;
        height: 56px !important;
    &:hover {
        background-color: $green-color-hover;
        box-shadow: none ;
        outline: none;
        }
    &:focus {
        background-color: $green-color-focus ;
        box-shadow: none ;
        outline: none ;
        }
    &:not(:disabled):not(.disabled):active,
    :not(:disabled):not(.disabled).active {
        background-color: $green-color-focus ;
        }
    &:disabled {
        background-color: $disabled-color !important ;
        color: $gray-color !important ;
        border-color: $gray-color !important;
        cursor: not-allowed;
        }
    }