@import 'variables.scss';
.mat-accordion{
    width: 100% !important;
}
.mat-expansion-panel{
    box-shadow: none !important;
    border-bottom: 1px solid $disabled-color !important;
    &-header{
        font-size: $small-text !important;
        &-title{
            color: $font-color !important;
            opacity: .6 !important;
        }
    }
}
.mat-expanded{
    & .mat-expansion-panel-header-title{
        opacity: 1 !important;
    }
}
.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
    font-size: 14px !important;
    font-weight: bold;
}