@import 'variables.scss';

.mat-button-toggle-group{
    box-shadow: none !important;
    border: 1px solid $primary-color !important;
    border-radius: $border-radius !important;
}
.mat-button-toggle:not(:last-child){
    border-right: 1px solid $primary-color !important;
}
.mat-button-toggle{
    &:hover{
        background-color: $primary-color-hover !important;
        color: #fff !important;
    }
}
.mat-button-toggle-checked {
    background-color: $primary-color !important;
    color: #fff !important;
}