@import 'variables.scss';
.mat-slider{
    min-width: 20em !important;
}
.mat-accent .mat-slider-track-fill {
    background-color: $primary-color !important;
}
.mat-slider-thumb-label {
    background-color: #8F8F8F !important;
} 
.mat-slider-thumb {
    background-color: $primary-color !important;
    position: absolute !important;
    right: -10px !important;
    bottom: -10px !important;
    box-sizing: border-box !important;
    width: 20px !important;
    height: 20px !important;
    border: 3px solid transparent !important;
    border-radius: 50% !important;
    transform: scale(0.7) !important;
    transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1),background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1),border-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;
} 
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) {
    .mat-slider-thumb {
        border-color: #CFCDDF !important;
        background-color: $white-color !important;
    }
} 
.mat-slider-min-value {
    .mat-slider-focus-ring {
        border-color: #CFCDDF !important;
        background-color: $white-color !important;
    }
}
.mat-accent {
    .mat-slider-track-fill,
    .mat-slider-thumb {
        background-color: $primary-color !important;
    }
} 
.mat-slider-min-value:not(.mat-slider-thumb-label-showing):hover .mat-slider-thumb,
.mat-slider-min-value:not(.mat-slider-thumb-label-showing).cdk-focused .mat-slider-thumb {
    border-color: #CFCDDF !important;
    background-color: $white-color !important;
}
  
.mat-slider-track-background {
    background-color: #CFCDDF !important;
    &:hover {
        background-color: #CFCDDF !important;
    }
}
.mat-slider:hover .mat-slider-track-background,
.cdk-focused .mat-slider-track-background {
    background-color: #CFCDDF !important;
}