@import './variables.scss';

.small-single-select-form-field .mat-chip.mat-standard-chip{
    background: transparent !important;
  &:hover{
      background: transparent !important; 
  }
  &:focus{
      background: transparent !important;
  }
  &:disabled{
      background:transparent !important;
  }
  }
  .small-single-select-form-field .mat-form-field-outline-start {
      border-radius: 28px 0 0 28px !important;
      min-width: 28px !important;
  
      &.mat-form-field-disabled{
          background-color: $white-color !important;
      }
  }
  html:lang(ar) .small-single-select-form-field .mat-form-field-outline-start {
      border-radius: 0 28px 28px 0 !important;
      min-width: 28px !important;
  
      &.mat-form-field-disabled{
          background-color: $white-color !important;
      }
  }
    
  .small-single-select-form-field .mat-form-field-outline-end {
      border-radius: 0 28px 28px 0 !important;
      min-width: 28px !important;
      &.mat-form-field-disabled{
          background-color: $white-color !important;
      }
  }
  
  html:lang(ar) .small-single-select-form-field .mat-form-field-outline-end {
      border-radius: 28px 0 0 28px !important;
      min-width: 28px !important;
      &.mat-form-field-disabled{
          background-color: $white-color !important;
      }
  }
  .small-single-select-form-field .mat-input-element{
      padding-left: 26px !important;
      position: relative;
      bottom: 3px;
  }
  .small-single-select-form-field.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
      transform: translate(0.4em,-0.85em) scale(0.75) !important;
      width: 133.3333333333% !important;
  }
  html:lang(ar) .small-single-select-form-field.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
      transform: translate(-0.6em, -0.85em) scale(0.75) !important;
      width: 133.3333333333% !important;
  }
  
  .small-single-select-form-field.mat-form-field-appearance-outline .mat-form-field-outline {
      color: $gray-color!important;
  }
    /* Font color */
    .small-single-select-form-field.input.mat-input-element {
      color: $dark-font-color !important;
  }
  .small-single-select-form-field.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
  .small-single-select-form-field.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
  .small-single-select-form-field.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
      border-width: 1px !important;
  }
  
  // .single-select-form-field.mat-form-field.mat-focused {
  //     .mat-form-field-appearance-outline .mat-form-field-outline {
  //         color: $gray-color!important;
  //     }
  //     .mat-form-field-label {
  //         color: $dark-font-color !important;
  //     }
  //     .mat-input-element {
  //         color: $dark-font-color !important;
  //     }
  // }
  
  // .single-select-form-field.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  //     color: $gray-color !important;
  // }
  .small-single-select-form-field .mat-form-field-wrapper .mat-form-field-label mat-label{
      padding-left: 19px !important;
      font-size: 14px !important;
      color: $black-color !important;
  }
  html:lang(ar) .small-single-select-form-field .mat-form-field-wrapper .mat-form-field-label mat-label{
      padding-right: 19px !important;
      padding-left: unset !important;
      line-height: 23px;
      color: $black-color !important;
  }
  .small-single-select-form-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
      color:  $stroked-color !important;
   }
  
  .myPanelClass{
      border-radius: 28px !important;
      position: relative !important;
      left: -5px !important;
      margin-top: 34px !important; 
  }
  .small-single-select-form-field.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    position: relative;
    bottom: -1px;
    color: #34314C !important;
}
  
  .mat-option.mat-selected:not(.mat-option-disabled) {
      color: $stroked-color !important;
      font-size: 14px;
  }

  .small-multi-select-form-field .mat-standard-chip{
    min-height: 23px !important;
  }
  
  .small-multi-select-form-field .mat-form-field-outline-start {
      border-radius: 28px 0 0 28px !important;
      min-width: 28px !important;
  
      &.mat-form-field-disabled{
          background-color: $white-color !important;
      }
  }
  
  html:lang(ar) .small-multi-select-form-field .mat-form-field-outline-start {
      border-radius: 0 28px 28px 0 !important;
      min-width: 28px !important;
  
      &.mat-form-field-disabled{
          background-color: $white-color !important;
      }
  }
    
  .small-multi-select-form-field .mat-form-field-outline-end {
      border-radius: 0 28px 28px 0 !important;
      min-width: 28px !important;
      &.mat-form-field-disabled{
          background-color: $white-color !important;
      }
  }
  html:lang(ar) .small-multi-select-form-field .mat-form-field-outline-end {
      border-radius: 28px 0 0 28px !important;
      min-width: 28px !important;
      &.mat-form-field-disabled{
          background-color: $white-color !important;
      }
  }
  .small-multi-select-form-field .mat-input-element{
      padding-left: 26px !important;
      position: relative;
      bottom: 3px;
  }
  .small-multi-select-form-field.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
      transform: translate(0.8em,-0.6em) scale(0.75) !important;
      width: 133.3333333333% !important;
  }
  
  .small-multi-select-form-field.mat-form-field-appearance-outline .mat-form-field-outline {
      color: $gray-color !important;
  }
    /* Font color */
    .small-single-select-form-field.input.mat-input-element {
      color: $dark-font-color !important;
  }
  .small-multi-select-form-field.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
  .small-multi-select-form-field.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
  .small-multi-select-form-field.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
      border-width: 1px !important;
  }
  
  // .multi-select-form-field.mat-form-field.mat-focused {
  //     .mat-form-field-appearance-outline .mat-form-field-outline {
  //         color: $gray-color !important;
  //     }
  //     .mat-form-field-label {
  //         color: $dark-font-color !important;
  //     }
  //     .mat-input-element {
  //         color: $dark-font-color !important;
  //     }
  // }
  
  // .multi-select-form-field.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  //     color: $gray-color!important;
  // }
  .small-multi-select-form-field .mat-form-field-wrapper .mat-form-field-label mat-label{
      padding-left: 7px !important;
      font-size: 14px;
      color: $black-color !important;
  }
  .small-multi-select-form-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
      color:  $stroked-color !important;
  }
  .small-multi-select-form-field .mat-checkbox-label{
      position: relative !important;
      right: -18px !important;
      bottom: -11px !important;
      margin-bottom: 10px !important;
  }
  html:lang(ar) .small-multi-select-form-field .mat-checkbox-label{
      position: relative !important;
      right: 11px !important;
      bottom: -11px !important;
      margin-bottom: 10px !important;
  }
  .multi-select-checkbox{
      position: relative;
      left: 17px;
      bottom: -10px;
      margin-bottom: 13px;
  }
  html:lang(ar) .multi-select-checkbox{
      position: relative;
      right: 17px;
      bottom: -10px;
      margin-bottom: 13px;
  }
  .mat-chip-list-wrapper{
      position: relative !important;
      right: 12px !important;
      top: 3px;
  }
  html:lang(ar) .mat-chip-list-wrapper{
      position: relative !important;
      right: -5px !important;
  }
  .small-multi-select-form-field.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
      position: relative;
      bottom: -1px;
      color: $stroked-color !important;
  }
  .example-additional-selection{
   margin-inline-start: 24px;
  }
  html:lang(ar) .example-additional-selection{
      margin-inline-start: 16px !important;
     }
  
   .mat-select-panel::-webkit-scrollbar {
      -webkit-appearance: none;
  }
  
  .mat-select-panel::-webkit-scrollbar:vertical {
      width: 6px;
      height: 2px;
  }
  
  .mat-select-panel::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 1px solid $white-color; /* should match background, can't be transparent */
      background-color: $stroked-color;
  }
  .small-multi-select-form-field.mat-form-field.mat-focused .mat-form-field-label {
      color: #369EFB !important;
  }
  .small-multi-select-form-field.mat-form-field.mat-focused .mat-form-field-outline {
      color: #369EFB !important;
  }
  
  .small-single-select-form-field.mat-form-field.mat-focused .mat-form-field-label {
      color: #369EFB !important;
  }
  .small-single-select-form-field.mat-form-field.mat-focused .mat-form-field-outline {
      color: #369EFB !important;
  }
  html:lang(ar) .small-multi-select-form-field.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
      transform: translate(-0.5em, -0.6em) scale(0.75) !important;
      width: 133.3333333333% !important;
  }
  .small-multi-select-form-field .mat-select-value{
    position: relative;
    padding-left: 19px;
    line-height: 42px;
    font-size: 14px;
  }
  .small-single-select-form-field .mat-select-value{
    position: relative;
    padding-left: 19px;
    line-height: 42px;
    font-size: 14px;
  }
  html:lang(ar) .mat-select-value{
      position: relative;
      bottom: 2px;
      padding-right: 5px !important;
      line-height: 60px;
  }
  html:lang(ar) .small-single-select-form-field.mat-form-field-disabled .mat-form-field-wrapper .mat-form-field-label mat-label{
      padding-right: 35px !important;
      color: $dark-font-color !important;
      font-weight: 600 !important;
  }
  .small-single-select-form-field.mat-form-field-disabled .mat-form-field-wrapper .mat-form-field-label mat-label{
      padding-left: 19px !important;
      color: $dark-font-color;
      font-size: 12px !important;
      font-weight: 600;
  }
  html:lang(ar) .small-single-select-form-field.mat-form-field-appearance-outline.mat-form-field-disabled .mat-select-arrow-wrapper {
      position: relative !important;
      bottom: -1px !important;
      color: #0000008A !important;
  }
  .small-single-select-form-field.mat-form-field-appearance-outline .mat-form-field-flex{
      height: 46px !important;
  }
  .small-single-select-form-field .mat-form-field-outline-gap {
      border-top: 1px solid !important;
      width: auto !important;
  }
  
  .small-multi-select-form-field.mat-form-field-appearance-outline .mat-form-field-flex{
      height: 46px !important;
  }
  .small-multi-select-form-field .mat-form-field-outline-gap {
      border-top: 1px solid !important;
      width: auto !important;
  }
  html:lang(ar) .small-multi-select-form-field .mat-form-field-wrapper .mat-form-field-label mat-label{
  padding-right: 19px !important;
  padding-left: unset !important;
  font-size: 14px !important;
  color: $black-color !important;
  }

  .small-multi-select-form-field .mat-form-field-flex{
    align-items: center !important;
  }
  .small-single-select-form-field .mat-form-field-flex{
    align-items: center !important;
  }
  .small-multi-select-form-field .mat-checkbox-layout.mat-checkbox-label{
    font-size: 14px !important;
  }