@import 'variables.scss';
@mixin stepper-button-style{
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    color: inherit;
    background: transparent;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.mat-stepper-horizontal {
    margin-top: 8px !important;
}
  
.mat-mdc-form-field {
    margin-top: 16px !important;
}
.mat-step-header .mat-step-icon {
    cursor: pointer;
    background-color: $sec-color !important;
    color: #fff !important;
    &:hover{
    background-color: $sec-color-hover!important;
    }
    &:focus{
    background-color: $sec-color-focus !important;
    }
}
.mat-step-header .mat-step-icon-selected {
    background-color: $primary-color !important;
    color: #fff !important ;
    &:hover{
    background-color: $primary-color-hover !important;
    }
    &:focus{
    background-color: $primary-color-focus !important;
    }
  }
  .realsoft-stepper-button{
    @include stepper-button-style();
  }
  
