@import 'variables.scss';
//Mixins Definitions
@mixin chipStyle($color, $background-color, $hover-color, $padding, $height){
    padding: 0 $padding;
    background-color:$background-color;
    border-radius: 100px;
    display: inline-flex;
    margin: 0.5em;
    color: $color;
    align-items: center;
    height: $height;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
    &:hover{
        background-color: $hover-color;
        transform: scale(0.95);
    }
  }
@mixin iconChipStyle($font-size, $margin-right){
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size:$font-size;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-right: $margin-right;
  }
//Small Basic Chip Styles
.basic_chip {
  @include chipStyle($color: #fff, $background-color: $basic-chip-color, $hover-color:$basic-chip-hover-color,$padding: 0.75em, $height: 2em);
}
//Small Primary Chip Styles
.primary_chip {
  @include chipStyle($color: #fff, $background-color: $buttonPrimaryBackground, $hover-color:$primary-color-focus,$padding: 0.75em, $height: 2em);
}
//Small Secondary Chip Styles
.secondary_chip {
  @include chipStyle($color: #fff, $background-color: $buttonSecondaryBackground, $hover-color:$sec-color-focus,$padding: 0.75em, $height: 2em);
}
//Medium Basic Chip Styles 
.medium_basic_chip {
  @include chipStyle($color: #fff, $background-color: $basic-chip-color, $hover-color:$basic-chip-hover-color,$padding: 1.25em, $height: 2.5em);
}
//Medium Primary Chip Styles
.medium_primary_chip {
  @include chipStyle($color: #fff, $background-color: $buttonPrimaryBackground, $hover-color:$primary-color-focus,$padding: 1.25em, $height: 2.5em);
}
//Medium Secondary Chip Styles
.medium_secondary_chip {
  @include chipStyle($color: #fff, $background-color: $buttonSecondaryBackground, $hover-color:$sec-color-focus,$padding: 1.25em, $height: 2.5em);
}
//Large Basic Chip Styles  
.large_basic_chip {
  @include chipStyle($color: #fff, $background-color: $basic-chip-color, $hover-color:$basic-chip-hover-color,$padding: 1.75em, $height: 3em);
}
//Large Primary Chip Styles
.large_primary_chip {
  @include chipStyle($color: #fff, $background-color: $buttonPrimaryBackground, $hover-color:$primary-color-focus,$padding: 1.75em, $height: 3em);
}
//Large Secondary Chip Styles
.large_secondary_chip {
  @include chipStyle($color: #fff, $background-color: $buttonSecondaryBackground, $hover-color:$sec-color-focus ,$padding: 1.75em, $height: 3em);
}
//Small Basic Chip with Icon Styles 
.basic_icon_chip{
  @include chipStyle($color: #fff, $background-color: $basic-chip-color, $hover-color:$basic-chip-hover-color,$padding: 0.75em, $height: 2em);
.material-icons{
  @include iconChipStyle($font-size: 1.2em, $margin-right:0.2rem)
}
}
//Small Primary Chip with Icon Styles  
.primary_icon_chip{
  @include chipStyle($color: #fff, $background-color: $buttonPrimaryBackground, $hover-color:$primary-color-focus,$padding: 0.75em, $height: 2em);
.material-icons{
  @include iconChipStyle($font-size: 1.2em, $margin-right:0.2rem)
}
}
//Small Secondary Chip with Icon Styles 
.secondary_icon_chip{
  @include chipStyle($color: #fff, $background-color: $buttonSecondaryBackground, $hover-color:$sec-color-focus,$padding: 0.75em, $height: 2em);
.material-icons{
  @include iconChipStyle($font-size: 1.2em, $margin-right:0.2rem)
}
}
//Medium Basic Chip with Icon Styles
.medium_basic_icon_chip{
  @include chipStyle($color: #fff, $background-color: $basic-chip-color, $hover-color:$basic-chip-hover-color,$padding: 1.25em, $height: 2.5em);
.material-icons{
  @include iconChipStyle($font-size: 1.4em, $margin-right:0.3rem)
}
}
//Large Basic Chip with Icon Styles
.large_basic_icon_chip{
  @include chipStyle($color: #fff, $background-color: $basic-chip-color, $hover-color:$basic-chip-hover-color,$padding: 1.75em, $height: 3em);
.material-icons{
  @include iconChipStyle($font-size: 1.5em, $margin-right:0.4rem);
}
}
//Medium Primary Chip with Icon Styles
.medium_primary_icon_chip{
  @include chipStyle($color: #fff, $background-color: $buttonPrimaryBackground, $hover-color:$primary-color-focus,$padding:1.25em, $height: 2.5em);
.material-icons{
  @include iconChipStyle($font-size: 1.4em, $margin-right:0.3rem)
}
}
//Medium Secondary Chip with Icon Styles 
.medium_secondary_icon_chip{
  @include chipStyle($color: #fff, $background-color: $buttonSecondaryBackground, $hover-color:$sec-color-focus,$padding: 1.25em, $height: 2.5em);
.material-icons{
  @include iconChipStyle($font-size: 1.4em, $margin-right:0.3rem);
}
}
//Large Primary Chip with Icon Styles
.large_primary_icon_chip{
  @include chipStyle($color: #fff, $background-color: $buttonPrimaryBackground, $hover-color:$primary-color-focus,$padding: 1.75em, $height: 3em);
.material-icons{
  @include iconChipStyle($font-size: 1.5em, $margin-right:0.4rem);
}
}
//Large Secondary Chip with Icon Styles
.large_secondary_icon_chip{
  @include chipStyle($color: #fff, $background-color: $buttonSecondaryBackground, $hover-color:$sec-color-focus,$padding: 1.75em, $height: 3em);
.material-icons{
  @include iconChipStyle($font-size: 1.5em, $margin-right:0.4rem);
}
}