@import 'variables.scss';
//Small Primary Icon Styles
.primary-icon-small{
    color: $primary-color;
    font-size: $small-icon;
&:hover{
    color: $primary-color-hover;
    cursor: pointer;
    }
}
//Medium Primary Icon Styles
.primary-icon-medium{
    color: $primary-color;
    font-size: $medium-icon;
&:hover{
    color: $primary-color-hover;
    cursor: pointer;
    }
}
///Large Primary Icon Styles
.primary-icon-large{
    color: $primary-color;
    font-size: $large-icon;
&:hover{
    color: $primary-color-hover;
    cursor: pointer;
    }
}
//Small Secondary Icon Styles
.secondary-icon-small{
    color: $sec-color;
    font-size: $small-icon;
&:hover{
    color: $sec-color-hover;
    cursor: pointer;
    }
}
//Medium Secondary Icon Styles 
.secondary-icon-medium{
    color: $sec-color;
    font-size: $medium-icon;
&:hover{
    color: $sec-color-hover;
    cursor: pointer;
    }
}
//Large Secondary Icon Styles
.secondary-icon-large{
    color: $sec-color;
    font-size: $large-icon;
&:hover{
    color: $sec-color-hover;
    cursor: pointer;
    }
}
//Icon Tooltip Style
.mat-tooltip {
   background-color:#8F8F8F !important;
}