@import 'variables.scss';

.mat-button-toggle-group{
    box-shadow: none;
    border: 1px solid $primary-color;
    border-radius: 5px;
}
.mat-button-toggle:not(:last-child){
    border-right: 1px solid $primary-color;
}
.mat-button-toggle{
    &:hover{
        background-color: $primary-color-hover;
        color: #fff;
    }
}
.mat-button-toggle-checked {
    background-color: $primary-color;
    color: #fff !important;
}