//Text Sizes
$normal-text: 14px;
$small-text: 12px;
$large-text: 16px;

//Primary and Secondary Colors
$primary-color: #1897d4;
$primary-color-hover: #1382b6;
$primary-color-focus: #0f5b7e;
$sec-color: #ea6924;
$sec-color-hover: #c7581d;
$sec-color-focus:#8b3e15;
$disabled-color:#EEEEEE;
$gray-color:#BABABA;
$dark-gray-color:#A6A6A6;
$primary-stroked-hover-focus: #34A4DF1A;
$secondary-stroked-hover-focus: #38A8AB17;
$tab-label-color: #444444DE;

$hover-color:#f3f3f3;
$focus-color:#E8FCF7;





//Common Sizes
$small-button-height: 30px;
$medium-button-height: 35px;
$large-button-height: 40px;
$small-icon: 20px;
$medium-icon: 24px;
$large-icon: 28px;
$small-input-field-height:40px;
$medium-input-field-height:46px;
$large-input-field-height:55px;


//Menu and Navigation Colors
$background-hover: #F3F3F3;
$background-focus: #EAF6FC;

//Common Colors
$font-color: #000000;
$stroked-color:#ea6924;
$light-gray: #fcfcfc;
$dark-gray: #a7a7a7;
$white-color: #ffffff;
$black-color: #000000;
$gray-icon: #B7B7B7;
$gray-border: #e0e0e0;
$skeleton-grid: #eff1f6;
$dark-gray-font: #333333;


//Input Field Colors
$input-field-label-color: #8B8B8B;
$input-field-focus-color-outline: #1897d4;
$input-field-hover-color:#1382b6;
$input-field-outline-color: #9EACC1;
$input-field-disabled-border-color:#BABABA;
$input-field-disabled-background-color:#EEEEEE;
$input-field-disabled-font-color:#00000099;
$input-field-prefix-icon-color: #1897d4;
$input-field-suffix-icon-color: #1897d4;
$input-field-password-icon-color: rgba(68, 68, 68, 0.8666666667);
$input-field-icon-gray-color: rgba(68, 68, 68, 0.8666666667);

//Alert Colors
$danger-color: #EF4B4B;
$danger-bg: #FAC8C8;
$info-color: #3E80EB;
$info-bg: #CCD6F8;
$warning-color: #FFAB00;
$warning-bg: #FEE8BB;
$success-color:#38CB89;
$success-bg: #CBF6E2;
$dark-alert:#1B1E21;
$dark-bg: #D6D8D9;


/*Buttons*/
$stroked-hover:#FFFDFC;
$stroked-focus:#FEF3ED;
$link-color: #369EFB ;
$link-color-hover:#318CDD;
$link-color-focus: #25659F;
$transparent-color:rgba(255, 255, 255, 0);
$toggle-background: rgba(52, 164, 223,0.2);
$toggle-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
$shadow-style: 0 0 6px #0000003B;

$black-transparent: #0000009e;
$arrow-shadow-color: #0000001f;



/*Progress Bar*/
$track-color: #9FC3D6;
$tooltip-color: #8F8F8F;

//Tabs
$tabs-title: #13121CDE;

//border-radius
$border-radius: 28px;


//LTRC Colors
$basic-chip-color:#878787;
$basic-chip-hover-color:#636363;
$linkButton:#369EFB;
$buttonColor:#fff;
$font-color: #13121C;
$normal-text: 14px;
$small-text: 12px;
$large-text: 16px;

//rounded radius variables
$button-border-radius:20px;


//Font Weights
$medium-font-weight: 500;
$semi-bold-font-weight: 600;
$regular-font-weight: 400;
$slider-track-background-color: #34A4DF52;

