@import 'variables.scss';
//Mixins Definitions
@mixin buttonStyle($lineheight, $textSize){
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%);
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height:$lineheight;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    color: rgba(0,0,0,.87);
    background-color: #fff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: $textSize;
    font-weight: 500;
}
//Dialog Styling
 .dialog-component{
    & h5{
        font-size: $h5-size !important;
        font-family: myfont-bold, myfont-ar-bold !important;
    }
  
    & .dialog-buttons{
        text-align: end !important;
    }
  
    & hr{
        margin: 14px -24px !important;
    }
  }
.position-relative {
    position: relative;
    .close {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        color: $dark-gray;
    }
} 
.dialog-buttons{
.realsoft-primary-btn{
    @include buttonStyle($lineheight: 36px, $textSize: $normal-text);
  background-color: $primary-color ;
  color: $white-color !important;
  border: 1px solid $primary-color ;
  &:hover {
    background-color: $primary-color-hover;
    box-shadow: none ;
    outline: none;
}
&:focus {
    background-color: $primary-color-focus ;
    box-shadow: none ;
    outline: none ;
}
&:not(:disabled):not(.disabled):active,
:not(:disabled):not(.disabled).active {
    background-color: $primary-color-focus ;
}
&:disabled {
    background-color: $disabled-color  !important;
    color: $gray-color  !important;
    border-color: $gray-color !important;
    cursor: not-allowed;
  }
 }
}