@import '../../../variables.scss';

//Small Primary Button Style
.realsoft-primary-btn-small{
    background: $primary-color !important;
    color: $white-color !important;
    font-size: $small-text !important;
    line-height: $small-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 1px !important;
        &__loading{
            color: $disabled-color !important;
        }
    }

    &:hover{
        background: $primary-color-hover !important;
    }

    &:focus{
        background: $primary-color-focus !important;
    }

    &:disabled{
        background: $disabled-color !important; 
        color: $gray-color !important;
    }
}

//Small Primary Stroked Button Style
.realsoft-primary-stroked-btn-small{
    background: $white-color !important;
    border: 1px solid $primary-color !important;
    color: $primary-color !important;
    font-size: $small-text !important;
    line-height: $small-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 1px !important;
    }

    &:hover{
        background: $primary-stroked-hover-focus !important;
        color: $primary-color-hover !important;
    }

    &:focus{
        background: $primary-stroked-hover-focus !important;
        color: $primary-color-focus !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        border: 1px solid $gray-color !important;
    }
}

//Small Primary Link Button Style
.realsoft-primary-link-btn-small{
    color: $primary-color !important;
    text-decoration: underline !important;
    font-size: $small-text !important;
    height: 38px !important;
    &:hover{
        color: $primary-color-hover !important;
    }
    &:focus{
        color: $primary-color-focus !important;
    }
    &:disabled{
        color: $gray-color !important;
        background: $white-color !important;
    }
}

//Small Primary Button with Prefix Icon
.realsoft-primary-icon-prefix-btn-small{
    background: $primary-color !important;
    color: $white-color !important;
    font-size: $small-text !important;
    line-height: $small-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 1px !important ;
    }

    &:hover{
        background: $primary-color-hover !important;
    }

    &:focus{
        background: $primary-color-focus !important;
    }
    
    & .material-icons{
        font-size: 16px !important;
        position: relative !important;
        left: -3px !important;
        color: $white-color !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        & .material-icons{
            color: $gray-color !important;
        }
    }
}

//Small Primary Text Button Style
.realsoft-primary-text-btn-small{
    color: $primary-color !important;
    font-size: $small-text !important;
    height: 38px !important;
    &:hover{
        color: $primary-color-hover !important;
    }
    &:focus{
        color: $primary-color-focus !important;
    }
    &:disabled{
        color: $gray-color !important;
        background: $white-color !important;
    }
}

//Small Primary Button with Suffix Icon
.realsoft-primary-icon-suffix-btn-small{
    background: $primary-color !important;
    color: $white-color !important;
    font-size: $small-text !important;
    line-height: $small-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 1px !important ;
    }

    &:hover{
        background: $primary-color-hover !important;
    }

    &:focus{
        background: $primary-color-focus !important;
    }
    
    & .material-icons{
        font-size: 16px !important;
        position: relative !important;
        right: -3px !important;
        color: $white-color !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        & .material-icons{
            color: $gray-color !important;
        }
    }
}

//Small Primary Stroked Button with Prefix Icon Style
.realsoft-primary-stroked-icon-prefix-btn-small{
    background: $white-color !important;
    border: 1px solid $primary-color !important;
    color: $primary-color !important;
    font-size: $small-text !important;
    line-height: $small-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 1px !important ;
    }

    &:hover{
        color: $primary-color-hover !important;
        background: $primary-stroked-hover-focus !important;
        & .material-icons{
            color: $primary-color-hover !important;
        }
    }

    &:focus{
        color: $primary-color-focus !important;
        background: $primary-stroked-hover-focus !important;
        & .material-icons{
            color: $primary-color-focus !important;
        }
    }
    
    & .material-icons{
        font-size: 16px !important;
        position: relative !important;
        left: -3px !important;
        color: $primary-color !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        border: 1px solid $gray-color !important;
        & .material-icons{
            color: $gray-color !important;
        }
    }
}

//Small Primary Stroked Button with Suffix Icon Style
.realsoft-primary-stroked-icon-suffix-btn-small{
    background: $white-color !important;
    border: 1px solid $primary-color !important;
    color: $primary-color !important;
    font-size: $small-text !important;
    line-height: $small-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 1px !important ;
    }

    &:hover{
        color: $primary-color-hover !important;
        background: $primary-stroked-hover-focus !important;
        & .material-icons{
            color: $primary-color-hover !important;
        }
    }

    &:focus{
        color: $primary-color-focus !important;
        background: $primary-stroked-hover-focus !important;
        & .material-icons{
            color: $primary-color-focus !important;
        }
    }
    
    & .material-icons{
        font-size: 16px !important;
        position: relative !important;
        right: -3px !important;
        color: $primary-color !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        border: 1px solid $gray-color !important;
        & .material-icons{
            color: $gray-color !important;
        }
    }
}
