.multiple-password-text-field .mat-form-field-outline-gap {
    border-top: 1px solid !important;
    width: auto !important;
  }
  
  .multiple-password-text-field .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 59px !important;
  
    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
  }
  
  html:lang(ar) .multiple-password-text-field .mat-form-field-outline-start {
    border-radius: 0 28px 28px 0 !important;
    min-width: 59px !important;
  
    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
  }
  
  .multiple-password-text-field .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
    min-width: 28px !important;
    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
  }
  
  html:lang(ar) .multiple-password-text-field .mat-form-field-outline-end {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
  }
  
  .multiple-password-text-field.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-label {
    color: #369EFB !important;
  }
  
  .multiple-password-text-field.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-outline {
    color: #369EFB !important;
  }
  
  .multiple-password-text-field .mat-input-element{
    position: relative !important;
    bottom: 1px !important;
    font-size: 14px;
    padding-left: 4px;
    line-height: 24px;
  }
  
  html:lang(ar) .multiple-password-text-field .mat-input-element{
    position: relative !important;
    bottom: 6px !important;
    font-size: 14px;
    padding-left: 4px;
    line-height: 24px;
  }
  
  .multiple-password-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translate(0.35em, -0.55em) scale(0.75) !important;
    width: 133.3333333333% !important;
  }
  
  html:lang(ar) .multiple-password-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translateY(-0.9em) scale(0.75) !important;
    width: 133.3333333333% !important;
  }
  
  .multiple-password-text-field.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #BABABA !important;
  }
  
  .multiple-password-text-field.input.mat-input-element {
    color: #00000099 !important;
  }
  
  .multiple-password-text-field.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
  .multiple-password-text-field.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
  .multiple-password-text-field.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px !important;
  }
  
  .multiple-password-text-field.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon{
    font-size: 22px;
    padding-left: 7px !important;
    padding-right: 7px !important;
    position: relative !important;
    bottom: 3px !important;
    color: #40399A !important;
  }
  
  html:lang(ar) .multiple-password-text-field.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon{
    padding-left: 14px !important;
    padding-right: 38px !important;
    bottom: 7px !important;
  }
  
  .multiple-password-text-field.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon{
    padding-right: 7px !important;
    padding-left: 20px !important;
    position: relative !important;
    color: rgba(68, 68, 68, 0.8666666667) !important;
    cursor: pointer !important;
    font-size: 22px;
    bottom: 2px !important;
  }
  
  html:lang(ar) .multiple-password-text-field.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon{
    padding-right: 26px !important;
    padding-left: 20px !important;
    position: relative !important;
    color: #444444DD !important;
    cursor: pointer !important;
    font-size: 22px;
    bottom: -1px;
  }
  
  .multiple-password-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  #34314C !important;
  }
  
  .multiple-password-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label {
    color:  #34314C !important;
  }
  
  .multiple-password-text-field.mat-form-field-appearance-outline .mat-form-field-flex{
    height: 46px !important;
  }
  
  .multiple-password-text-field .mat-form-field-wrapper .mat-form-field-label mat-label{
    line-height: 17px !important;
    font-size: 14px;
    position: relative;
    bottom: -3px;
  }
  .multiple-password-text-field .mat-form-field-flex{
    align-items: center !important;
  }
  
  