.realsoft-skeleton-loader {
    box-sizing: border-box;

    overflow: hidden;
    position: relative;
  
    background: rgb(239, 241, 246) no-repeat;
  
    border-radius: 4px;
    width: 100%;
    height: 20px;
    display: inline-block;
    margin-bottom: 10px;
  
    will-change: transform;
  
    &:after,
    &:before {
      box-sizing: border-box;
    }
  

    &.circle {
      width: 40px;
      height: 40px;
      margin: 5px;
      border-radius: 50%;
    }

    &.square {
        width: 40px;
        height: 40px;
        margin: 5px;
        border-radius: 10%;
      }

    
    @media (prefers-reduced-motion: reduce) {
      &.pulse,
      &.progress-dark,
      &.custom-content,
      &.progress::before  {
        animation: none;
      }
  
      &.progress::before,
      &.progress-dark,
      &.custom-content {
        background-image: none;
      }
    }
  
    // MEDIA QUERY: Desktop-only styling
    @media screen and (min-device-width: 1200px) {
      user-select: none;
      cursor: wait;
    }
  }

  @keyframes progress {
    0% {
      transform: translate3d(-200px, 0, 0);
    }
    100% {
      transform: translate3d(calc(200px + 100vw), 0, 0);
    }
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }

  .realsoft-skeleton-loader-pulse-animation{
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation-delay: 0.5s;
  }

  .realsoft-skeleton-loader-progress-animation{
    &:after,
      &:before {
        box-sizing: border-box;
      }

      transform: translate3d(0, 0, 0);
  
      &:before {
        background-image: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.6),
          rgba(255, 255, 255, 0)
        );
        animation: progress 2s ease-in-out infinite;
        background-size: 200px 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        content: '';
      }
  }

  .realsoft-skeleton-loader-progress-dark-animation{
      &:after,
      &:before {
        box-sizing: border-box;
      }

      transform: translate3d(0, 0, 0);
  
      &:before {
        background-image: linear-gradient(
          90deg,
          transparent,
          rgba(0, 0, 0, 0.2),
          transparent
        );
        animation: progress 2s ease-in-out infinite;
        background-size: 200px 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        content: '';
      }
  }