@import '../variables.scss';

.realsoft-expansion-panel .mat-expansion-panel-header-title{
    color: $font-color !important;
    opacity: 0.6 !important;
    font-weight: $medium-font-weight !important;
}
.realsoft-expansion-panel .mat-expansion-panel-header.mat-expanded .mat-expansion-panel-header-title{
    color: $font-color !important;
    opacity: 1 !important;
}

.realsoft-expansion-panel .mat-expansion-indicator::after{
    color: $font-color !important;
}

.realsoft-expansion-panel .mat-expansion-panel-header:hover {
    background: $background-hover !important;
}