@import '../variables.scss';

 .realsoft-alert {
	width: 100%;
	border: 0px;
	border-radius: $border-radius;
    position: relative;
    padding-bottom: 3px;
    text-align: start;
	& p {
		margin: 0;
	}
    
	& .material-icons {
		@extend %icons-style;

        &.close {
            position: absolute;
            right: 10px;
            top: 5px;
            cursor: pointer;
    
            &:lang(ar){
                right: unset;
                left: 10px;
            }
        }
	}
}
//Info Alert Colors
.info-alert {
	background-color: $info-bg;
	color: $info-color;
}
//Danger Alert Colors
.danger-alert {
	background-color: $danger-bg;
	color: $danger-color;
}
//Success Alert Colors
.success-alert {
	background-color: $success-bg;
	color: $success-color;
}
//Warning Alert Colors
.warning-alert {
	background-color: $warning-bg;
	color: $warning-color;
}
//Dark Alert Colors
.dark-alert {
	background-color: $dark-bg;
	color: $dark-alert;
}
//Alerts Icons Styles
%icons-style {
	position: relative;
    top: 4px;
    margin: 0 8px;
    font-size: 20px;
}
.alert-header{
    font-weight: bold;
}
  