@import '../variables.scss';

.toast-container .toast-success{
    padding: 15px 15px 15px 50px;
    width: 400px;
    background-position: 360px center;
    box-shadow: 0 0 12px $toastr-boxshadow;
    color: $white-color;
    background-color: $toastr-success-background;
    border-right: 6px solid $toastr-success;
  }
   
  .toast-container>.toast-success {
    background-image: url('../images/success-toast.png')!important;
  }
   
  .toast-container .toast-error{
    padding: 15px 15px 15px 50px;
    width: 400px;
    background-position: 360px center;
    box-shadow: 0 0 12px $toastr-boxshadow;
    color: $white-color;
    background-color: $toastr-error-background;
    border-right: 6px solid $toastr-error;
  }
   
  .toast-container>.toast-error {
    background-image: url('../images/error-toast.png')!important;
  }
   
  .toast-container .toast-warning{
    padding: 15px 15px 15px 50px;
    width: 400px;
    background-position: 360px center;
    box-shadow: 0 0 12px $toastr-boxshadow;
    color: $white-color;
    background-color: $toastr-warning-background;
    border-right: 6px solid $toastr-warning;
  }
   
  .toast-container>.toast-warning {
    background-image: url('../images/warning-toast.png')!important;
  }
   
   
  .toast-title{
    color: $toastr-text;
    font-size: 18px;
    font-weight: bold;
    padding-right: 30px;
  }
   
  .toast-message{
    color: $toastr-text;
    font-size: 14px;
    font-weight: 500;
    padding-right: 30px;
  }
   
  .toast-close-button{
    font-size: 27px;
    font-weight: unset;
    color: $toastr-icon;
    left: -360px;
    position: absolute;
    top: 35%;
  }