:root {
    --realsoft-option-group-label-text-color: #514346;
    --realsoft-option-group-label-text-line-height: 1.25rem;
    --realsoft-option-group-label-text-size: 0.875rem;
    --realsoft-option-group-label-text-tracking: 0.006rem;
    --realsoft-option-group-label-text-weight: 500;
}