<ng-container *ngTemplateOutlet="multi === true ? multiple : single"></ng-container>

<ng-template #single>
    <mat-form-field
    class="custom-date-picker form-fields" 
    appearance="outline"
    [ngClass]="{'custom-date-picker-large-floating-label' : largeFloatingLabel === true,'text-field-invalid' : (invalid === true || isRequired === true )}">
        <mat-label *ngIf="appearance === 'outline'">{{label}}</mat-label>
        <input  matInput [matDatepicker]="dp" [placeholder]="placeholder" [disabled]="isDisabled" (dateChange)="onDateSelected($event)"
        [(ngModel)]="value" (ngModelChange)="onChange($event)" ngDefaultControl (blur)="markAsTouched()"
         [required]="required ? required : isRequired" [min]="min" [max]="max" [readonly]="readonly"
         [value]="value"
        >
        <mat-datepicker-toggle matSuffix [for]="dp" [(ngModel)]="value" (ngModelChange)="onChange($event)" ngDefaultControl (blur)="markAsTouched()" (touch)="onTouched()"></mat-datepicker-toggle>
        <mat-datepicker #dp [startView]="startView" [startAt]="startAt"></mat-datepicker>   
    </mat-form-field> 
    <div style="display: flex;"></div>
    <ng-content></ng-content>
</ng-template>

<ng-template #multiple>
    <mat-form-field class="__realsoft-form-field form-fields" appearance="outline">
        <mat-label *ngIf="appearance==='outline'">{{label}}</mat-label>
        <mat-chip-list #chipList (click)="dp.open()">
          <mat-chip
            *ngFor="let value of model"
            [selectable]="false"
            [removable]="true"
            (removed)="remove(value)"
          >
            {{ value | date }}
            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
          </mat-chip>
          <input
            class="realsoft-input-element"
            [value]="resetModel"
            matInput
            [matDatepicker]="dp" [placeholder]="placeholder" [disabled]="isDisabled"
            [(ngModel)]="value" (ngModelChange)="onChange($event)" ngDefaultControl (blur)="markAsTouched()"
            [required]="required ? required : isRequired"
            (dateChange)="dateChanged($event)"
            [matChipInputFor]="chipList"
            hidden
            (click)="dp.open()"
            [min]="min" [max]="max" [readonly]="readonly"
          />
        </mat-chip-list>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          [startView]="startView" [startAt]="startAt"
          [dateClass]="dateClass"
        ></mat-datepicker>
      </mat-form-field>
</ng-template>



