<div class="display">
    <ng-container>
      <div class="realsoft-first-draggable-table">
        <table mat-table [dataSource]="tableDataSource" *ngIf="displayedColumns?.length">
          <ng-container *ngFor="let row of rowActionIcon">
            <ng-container *ngIf="tableColumns?.length" [matColumnDef]="row.iconColumnName">
              <th mat-header-cell *matHeaderCellDef class="text-center">{{ lang === 'ar' ? row.iconColumnNameAr : row.iconColumnName }}</th>
              <div>
                <td mat-cell *matCellDef="let element" [id]="row.iconColumnName" (click)="emitRowAction(element, row.iconName, row.iconColumnName)" class="text-center" [ngClass]="row.className">
                  <button mat-icon-button class="text-center table-button" [disabled]="row.disabled">
                    <mat-icon [ngStyle]="{'color': row.iconColor}">{{row.iconName}}</mat-icon>
                  </button>
                </td>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="isCheckbox">
            <ng-container *ngFor="let row of rowActionCheckbox">
              <ng-container [matColumnDef]="row">
                <th mat-header-cell *matHeaderCellDef class="checkbox-center">
                  <div>
                    <mat-checkbox class="realsoft-draggable-table-selection-checkbox" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
                  </div>
                </th>
                <td mat-cell *matCellDef="let element" [id]="row" (click)="emitRowAction(element, row)" class="text-center">
                  <mat-checkbox class="realsoft-draggable-table-selection-checkbox" (click)="$event.stopPropagation()" (change)="onSelectionChange($event, element)" [checked]="selection.isSelected(element)"></mat-checkbox>
                </td>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">
            <ng-container>
              <th mat-header-cell *matHeaderCellDef>
                {{ lang === 'ar' ? tableColumn?.nameAr : tableColumn?.name }}
              </th>
            </ng-container>
            <ng-container>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.classNames; else default">
                  <span [ngClass]="element?.classNames[tableColumn?.classNameKey]">
                    {{ lang === 'ar' ? (element | dataPropertyGetter : tableColumn.dataKeyAr) : (element | dataPropertyGetter : tableColumn.dataKey) }}
                  </span>
                </ng-container>
                <ng-template #default>
                  <span [ngClass]="tableColumn.className">
                    {{ lang === 'ar' ? (element | dataPropertyGetter : tableColumn.dataKeyAr) : (element | dataPropertyGetter : tableColumn.dataKey) }}
                  </span>
                </ng-template>
              </td>
            </ng-container>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <ng-container>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
          </ng-container>
        </table>
        <mat-paginator #paginator *ngIf="
            isPageableBottom &&
            displayedColumns.length &&
            tableDataSource.data.length > 1
          " [pageSizeOptions]="paginationSizes" [pageSize]="defaultPageSize" [length]="tableDataSource.data.length" (page)="onPaginationChange($event)" showFirstLastButtons></mat-paginator>
        <div *ngIf="!displayedColumns.length && !isLoading" class="no-records"> No Column Found </div>
        <div class="no-records" *ngIf="(!tableDataSource?.data?.length && !isLoading) || (!tableDataSource?.filteredData?.length  && !isLoading )">{{lang === 'ar' ? 'لا يوجد بيانات' : 'No records found.'}} </div>
        <ng-container *ngIf="isLoading">
          <div class="realsoft-skeleton-grid" *ngFor="let item of repeat(count);"></div>
        </ng-container>
      </div>
    </ng-container>
    <div class="transfer-buttons">
      <button mat-flat-button class="draggable-tables-add-button" (click)="transferSelectedRows()" [disabled]="selection.selected.length === 0">
        <span class="draggable-tables-add-button__span">Add</span>
        <span class="material-icons">arrow_forward</span>
      </button>
      <button mat-flat-button class="draggable-tables-remove-button" (click)="removeSelectedRows()" [disabled]="checkedSelection.selected.length === 0">
        <span class="material-icons">arrow_back</span>
        <span class="draggable-tables-remove-button__span">Remove</span>
      </button>
    </div>
    <ng-container>
      <div class="realsoft-second-draggable-table">
        <table mat-table [dataSource]="secondTableDataSource" *ngIf="displayedColumns?.length">
          <ng-container *ngFor="let row of rowActionIcon">
            <ng-container *ngIf="tableColumns?.length" [matColumnDef]="row.iconColumnName">
              <th mat-header-cell *matHeaderCellDef class="text-center">{{ lang === 'ar' ? row.iconColumnNameAr : row.iconColumnName }}</th>
              <div>
                <td mat-cell *matCellDef="let element" [id]="row.iconColumnName" (click)="emitRowAction(element, row.iconName, row.iconColumnName)" class="text-center" [ngClass]="row.className">
                  <button mat-icon-button class="text-center table-button" [disabled]="row.disabled">
                    <mat-icon [ngStyle]="{'color': row.iconColor}">{{row.iconName}}</mat-icon>
                  </button>
                </td>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="isCheckbox">
            <ng-container *ngFor="let row of rowActionCheckbox">
              <ng-container [matColumnDef]="row">
                <th mat-header-cell *matHeaderCellDef class="checkbox-center">
                  <div>
                    <mat-checkbox class="realsoft-draggable-table-selection-checkbox" (change)="$event ? masterSecondToggle() : null" [checked]="checkedSelection.hasValue() && isAllSecondSelected()" [indeterminate]="checkedSelection.hasValue() && !isAllSecondSelected()"></mat-checkbox>
                  </div>
                </th>
                <td mat-cell *matCellDef="let element" [id]="row" (click)="emitRowAction(element, row)" class="text-center">
                  <mat-checkbox class="realsoft-draggable-table-selection-checkbox" (click)="$event.stopPropagation()" (change)="$event ? checkedSelection.toggle(element) : null" [checked]="checkedSelection.isSelected(element)"></mat-checkbox>
                </td>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">
            <ng-container>
              <th mat-header-cell *matHeaderCellDef>
                {{ lang === 'ar' ? tableColumn?.nameAr : tableColumn?.name }}
              </th>
            </ng-container>
            <ng-container>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.classNames; else default">
                  <span [ngClass]="element?.classNames[tableColumn?.classNameKey]">
                    {{ lang === 'ar' ? (element | dataPropertyGetter : tableColumn.dataKeyAr) : (element | dataPropertyGetter : tableColumn.dataKey) }}
                  </span>
                </ng-container>
                <ng-template #default>
                  <span [ngClass]="tableColumn.className">
                    {{ lang === 'ar' ? (element | dataPropertyGetter : tableColumn.dataKeyAr) : (element | dataPropertyGetter : tableColumn.dataKey) }}
                  </span>
                </ng-template>
              </td>
            </ng-container>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <ng-container>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="checkedSelection.toggle(row)"></tr>
          </ng-container>
        </table>
        <mat-paginator #secondPaginator *ngIf="
            isPageableBottom &&
            displayedColumns.length &&
            secondTableDataSource.data.length > 1
          " [pageSizeOptions]="paginationSizes" [pageSize]="defaultPageSize" [length]="secondTableDataSource.data.length" (page)="onPaginationChange($event)" showFirstLastButtons></mat-paginator>
        <div *ngIf="!displayedColumns.length && !isLoading" class="py-3 no-records"> No Column Found </div>
        <div class="py-3 no-records" *ngIf="(!secondTableDataSource?.data?.length && !isLoading) || (!secondTableDataSource?.filteredData?.length  && !isLoading )">{{lang === 'ar' ? 'لا يوجد بيانات' : 'No records found.'}} </div>
        <ng-container *ngIf="isLoading">
          <div class="realsoft-skeleton-grid" *ngFor="let item of repeat(count);"></div>
        </ng-container>
      </div>
    </ng-container>
  </div>