@import '../../../variables.scss';

//Input Field Height
.large-multi-select-form-field.mat-form-field-appearance-outline .mat-form-field-flex{
    height: 55x !important;
}

.large-multi-select-form-field .example-additional-selection{
    margin-inline-start: 24px;
    margin-inline-start: 3px;
    position: relative;
    top: 4px;
   }
   html:lang(ar) .large-multi-select-form-field .example-additional-selection{
       margin-inline-start: 16px !important;
      }

//Input Field Align Items
.large-multi-select-form-field .mat-form-field-flex{
    align-items: center !important;
}
.large-multi-select-form-field .mat-select-value-text{
    font-size: 16px;
    position: relative;
    bottom: 5px;
    line-height: 24px;
}

.large-multi-select-form-field .mat-form-field-wrapper .mat-form-field-label mat-label{
    font-size: 16px;
    position: relative;
    bottom: 3px;
    line-height: 24px;
}

.large-multi-select-form-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translateY(-1.5em) scale(0.75) !important;
    width: 133.3333333333% !important;
}

.myPanelClass{
    margin-top: 23px !important; 
}

.large-multi-select-form-field .mat-select-placeholder{
    font-size: 16px;
    position: relative;
}

//Input Field Focus State Style
.large-multi-select-form-field.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-label {
    color: $input-field-focus-color-outline !important;
}
.large-multi-select-form-field.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-label mat-label {
    color: $input-field-focus-color-outline !important;
}
.large-multi-select-form-field.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-outline {
    color: $input-field-focus-color-outline !important;
}
.large-multi-select-form-field.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-select-arrow{
    color: $input-field-focus-color-outline !important;
}

//Input Field Hover State Style
.large-multi-select-form-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  $input-field-hover-color !important;
}
.large-multi-select-form-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label {
    color:  $input-field-hover-color !important;
}
.large-multi-select-form-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label mat-label {
    color:  $input-field-hover-color !important;
}
.large-multi-select-form-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-select-arrow {
    color:  $input-field-hover-color !important;
}

//Input Element Default State Outline Style
.large-multi-select-form-field.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $gray-color !important;
}

.large-multi-select-form-field .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: $input-field-focus-color-outline !important;
}
.large-multi-select-form-field{
    font-size: 16px !important;
}


.multi-select-checkbox{
    position: relative;
    left: 15px;
    bottom: -10px;
    margin-bottom: 13px;
}
html:lang(ar) .multi-select-checkbox{
    position: relative;
    right: 17px;
    bottom: -10px;
    margin-bottom: 13px;
}
.large-multi-select-form-field .mat-chip-list-wrapper{
    position: relative !important;
    top: 5px;
}
html:lang(ar) .large-multi-select-form-field .mat-chip-list-wrapper{
    position: relative !important;
    right: -5px !important;
}

.large-multi-select-form-field .mat-standard-chip{
    padding: 4px 8px;
    min-height: 30px;
    font-size: 16px;
}

.large-multi-select-form-field .mat-select-panel::-webkit-scrollbar {
    -webkit-appearance: none;
}

.large-multi-select-form-field .mat-select-panel::-webkit-scrollbar:vertical {
    width: 6px;
    height: 2px;
}

.large-multi-select-form-field.mat-select-panel::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid #f5f5f5; /* should match background, can't be transparent */
    background-color: $sec-color;
}