@import '../variables.scss';

.realsoft-dynamic-horizontal-tabs{

    .mat-ink-bar {
        background-color: $primary-color !important;
    }

    .mat-tab-label-active{
        border-bottom: 0px solid $primary-color;
        color: $font-color;
        font-weight: bold;
        opacity: 1;
    }

    .mat-tab-label {
        opacity: 0.6;
        color: $tab-label-color;
        font-size: 14px;
    }
    
    &.mat-tab-group {
      margin-top: 2px;
    }
    
    .mat-tab-body {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    
    .mat-tab-body-content {
        overflow: visible;
        min-height: 56vh;
    }

    .mat-tab-labels {
        .mat-tab-label-active {
          opacity: 1;
          font-weight: bold;
          color: $font-color;
          border-bottom: 0px solid $primary-color;
        }
    }

    .mat-tab-header {
        border-bottom: 1px solid $disabled-color;
        margin-bottom: 5px;
    }
  }