@import '../variables.scss';

//Horizontal Tabs Margins
.horizontal-tabs .mat-tab-body {
	margin-top: 16px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

//Horizontal Tabs Active Tab Border Style
.horizontal-tabs.mat-tab-group.mat-primary {
	.mat-ink-bar {
		background-color: $primary-color !important;
	}
}

//Horizontal Tabs Active Label Style
.horizontal-tabs .mat-tab-label.mat-tab-label-active{
    font-weight: $semi-bold-font-weight !important;
    color: $font-color !important;
    opacity: 1 !important;
}

//Horizontal Tabs Label Style
.horizontal-tabs .mat-tab-label{
    font-weight: $medium-font-weight !important;
    color: $font-color !important;
    opacity: 0.6 !important;
}


//Vertical Tabs Styling
.vertical-tabs {
    .mat-tab-body{
        margin-top: 16px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .mat-tab-group {
        flex-direction: row !important;
    }
    .mat-tab-header {
        border-bottom: none !important;
    }
    .mat-tab-labels {
        flex-direction: column !important;
    }
    .mat-ink-bar {
        height: 100% !important;
        left: 100% !important;
    }
    .mat-tab-body-wrapper {
        flex: 1 1 auto !important;
    }
    .mat-tab-label {
        border: 1px solid $disabled-color !important;
        font-weight: $medium-font-weight !important;
        color: $font-color !important;
        opacity: 0.6 !important;
        justify-content: left;
        &:lang(ar){
            justify-content: right !important;
        }
    }

    .mat-tab-label.mat-tab-label-active {
        border-left: 2px solid $primary-color !important;
        font-weight: $semi-bold-font-weight !important;
        color: $font-color !important;
        opacity: 1 !important;
        &:lang(ar){
            border-left: 1px solid $disabled-color !important;
            border-right: 2px solid $primary-color !important;
        }
    }
    .mat-tab-group.mat-primary {
        .mat-ink-bar {
            background-color: $disabled-color !important;
        }
    }
    .mat-tab-header-pagination-controls-enabled {
        .mat-tab-header-pagination {
            display: none !important;
        }
    }
}