@import '../../variables.scss';

//Input Field Height
.text-field-prefix-icon-small.mat-form-field-appearance-outline .mat-form-field-flex{
    height: $small-input-field-height !important;
}

//Input Field Align Items
.text-field-prefix-icon-small .mat-form-field-flex{
    align-items: center !important;
}

//Input Field Floating Label Style
.text-field-prefix-icon-small.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translate(0.4em,-1em) scale(0.75) !important;
    width: 133.3333333333% !important;
}

//Input Field Input Element Style
.text-field-prefix-icon-small.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-input-element{
    position: relative !important;
    bottom: 3px !important;
    line-height: 22px !important;
    font-size: $small-text !important;
    padding-left: unset !important;
    color: $font-color !important;
}
html:lang(ar) .text-field-prefix-icon-small.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-input-element{
    right: unset !important;
    left: 18px !important;
}

//Input Field Default State Outline Style
.text-field-prefix-icon-small.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $input-field-outline-color !important;
}

//Input Field Prefix Icon Style
.text-field-prefix-icon-small.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon{
    position: relative !important;
    bottom: 0px !important;
    color: $input-field-prefix-icon-color !important;
    font-size: 20px !important;
}

//Input Field Hover State Style
.text-field-prefix-icon-small.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  $input-field-hover-color !important;
}
.text-field-prefix-icon-small.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label {
    color:  $input-field-hover-color !important;
}
.text-field-prefix-icon-small.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label mat-label {
    color:  $input-field-hover-color !important;
}

//Input Field Focus State Style
.text-field-prefix-icon-small.mat-form-field:not(.mat-form-field-disabled).mat-focused  .mat-form-field-label {
    color: $input-field-focus-color-outline !important;
}
.text-field-prefix-icon-small.mat-form-field:not(.mat-form-field-disabled).mat-focused .mat-form-field-outline {
    color: $input-field-focus-color-outline !important;
}

.text-field-prefix-icon-small.mat-form-field:not(.mat-form-field-disabled).mat-focused .mat-form-field-label mat-label {
    color: $input-field-focus-color-outline !important;
}

//Input Field Label Style
.text-field-prefix-icon-small .mat-form-field-wrapper .mat-form-field-label mat-label{
    line-height: 23px !important;
    position: relative !important;
    bottom: 2px !important;
    font-size: $small-text !important;
    color: $input-field-label-color !important;
    margin-inline-start: -7px !important;
}

.text-field-prefix-icon-small .mat-form-field-wrapper .mat-form-field-label .mat-form-field-required-marker{
    left: 13px;
    position: relative;
}

.text-field-prefix-icon-small .mat-form-field-label-wrapper{
    overflow: unset !important;
}

.text-field-prefix-icon-small .mat-form-field-label{
    overflow: unset !important;
}
