@import '../../variables.scss';

//Date Picker Height
.custom-date-picker.mat-form-field-appearance-outline .mat-form-field-flex{
    height: $small-input-field-height !important;
}

//Date Picker Align Items
.custom-date-picker .mat-form-field-flex{
    align-items: center;
}

//Date Picker Floating Label Style
.custom-date-picker.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translateY(-0.8em) scale(0.75) !important;
    width: 133.3333333333% !important;
}

//Date Picker Input Element
.custom-date-picker .mat-input-element{
    position: relative;
    bottom: 2px !important;
    font-size: $small-text;
    line-height: 24px;
    color: $font-color;
}

//Date Picker Default State Outline Style
.custom-date-picker.mat-form-field-appearance-outline .mat-form-field-outline {
    color:  $input-field-outline-color !important;
}

//Date Picker Label Style
.custom-date-picker .mat-form-field-wrapper .mat-form-field-label mat-label{
    line-height: 22px;
    position: relative;
    bottom: -1px;
    font-size: $small-text !important;
    color: $input-field-label-color;
}

//Date Picker Suffix Icon Position Style
.custom-date-picker.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -5px !important;
}

//Date Picker Hover State Style
.custom-date-picker.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  $input-field-hover-color !important;
}
.custom-date-picker.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-label {
    color:  $input-field-hover-color !important;
}
.custom-date-picker.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-label mat-label {
    color:  $input-field-hover-color !important;
}

//Date Picker Focus State Style
.custom-date-picker.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-label mat-label {
    color: $input-field-focus-color-outline !important;
}
.custom-date-picker.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-outline {
    color: $input-field-focus-color-outline !important;
}
.custom-date-picker.mat-form-field.mat-focused .mat-form-field-label {
    color: $input-field-focus-color-outline !important;
}

//Date Picker Date Toggle Button Style
.custom-date-picker.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    color: $primary-color !important;
    position: relative !important;
    bottom: -8px !important;
    font-size: 16px !important;
    &:hover{
        color:$primary-color-hover !important;
        &:disabled{
            color: $input-field-disabled-font-color !important;
        }
    }
    &:focus{
        color: $primary-color-focus !important;
    }
    &:disabled{
        color: $input-field-disabled-font-color !important;
    }
}

//Date Picker Selected Date Style
.mat-calendar-body-selected{
    background-color:$primary-color !important;
    color: $white-color !important;
}