@import '../variables.scss';

.custom-date-picker .mat-form-field-outline-gap {
    border-top: 1px solid !important;
    width: auto !important;
}
.custom-date-picker.mat-form-field-appearance-outline .mat-form-field-flex{
    height: 56px !important;
}

.custom-date-picker .mat-form-field-outline-start {
    border-radius: 6px 0 0 6px !important;
    min-width: 6px !important;

    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
}

.custom-date-picker .mat-form-field-outline-end {
    border-radius: 0 6px 6px 0 !important;
    min-width: calc(100% - 110px ) !important;
    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
}

html:lang(ar) .custom-date-picker-large-floating-label  .mat-form-field-outline-end {
    border-radius: 0 6px 6px 0 !important;
    min-width: calc(100% - 128px ) !important;
    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
}
.custom-date-picker .mat-input-element{
    padding-left: 18px !important;
    position: relative;
    bottom: 4px !important;
    font-size: 16px;
    line-height: 24px;
}
.custom-date-picker.mat-form-field-disabled .mat-input-element{
    bottom: 2px !important;
    font-size: 16px !important;
    color: $font-color !important;
}
.custom-date-picker.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translate(0.4em,-0.9em) scale(0.75);
    width: 133.3333333333% !important;
}

.custom-date-picker.mat-form-field-appearance-outline.mat-forrm-field-disabled.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translate(0.4em, -1.2em) scale(0.75) !important;
}

.custom-date-picker.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $gray-color !important;
}
  /* Font color */
.custom-date-picker.input.mat-input-element {
    color: $dark-font-color !important;
}
.custom-date-picker.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
.custom-date-picker.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.custom-date-picker.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px !important;
}

// .custom-date-picker.mat-form-field.mat-focused {
//     .mat-form-field-appearance-outline .mat-form-field-outline {
//         color: $gray-color !important;
//     }
//     .mat-form-field-label {
//         color: $dark-font-color !important;
//     }
//     .mat-input-element {
//         color: $dark-font-color !important;
//     }
// }

// .custom-date-picker.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
//     color: $gray-color !important;
// }
.custom-date-picker .mat-form-field-wrapper .mat-form-field-label mat-label{
    padding-left: 18px !important;
    line-height: 22px;
    position: relative;
    bottom: 3px;
    font-size: 16px !important;
}
.custom-date-picker.mat-form-field-disabled .mat-form-field-wrapper .mat-form-field-label mat-label{
    padding-left: 9px !important;
    line-height: 15px !important;
    position: relative !important;
    bottom: -2px !important;
    color: $dark-font-color !important;
    font-weight: 600 !important;
    font-size: 12px !important;
}
.custom-date-picker.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -5px !important;
}
 .custom-date-picker.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  #34314C !important;
}
.custom-date-picker.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-label {
    color:  #34314C !important;
 }


.custom-date-picker.mat-form-field.mat-focused .mat-form-field-label {
    color: #02536B !important;
}
.custom-date-picker.mat-form-field.mat-focused .mat-form-field-outline {
    color: #02536B !important;
}

.custom-date-picker.mat-calendar-body-cell.selected > .mat-calendar-body-cell-content,
.custom-date-picker.mat-calendar-body-cell.selected:hover > .mat-calendar-body-cell-content,
.custom-date-picker.mat-calendar-body-cell.selected > .mat-calendar-body-cell-content:hover {
  background-color: $primary-color !important;
  color: $white-color !important;
}
.mat-focused.mat-warn .mat-form-field-outline-thick, .mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: $danger-color !important;
}
.mat-form-field{
    width: 100% !important;
}
.mat-form-field-disabled .mat-form-field-outline{
    color: $gray-color !important;
    background-color: $disabled-color !important;
    border-radius: 6px !important;
}
html:lang(ar) .custom-date-picker .mat-form-field-outline-start {
    border-radius: 0px 6px 6px 0px !important;
    min-width: 6px !important;

    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
}
  
html:lang(ar)  .custom-date-picker .mat-form-field-outline-end {
    border-radius: 6px 0px 0px 6px !important;
    min-width: calc(100% - 110px ) !important;
    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
}
html:lang(ar) .custom-date-picker .mat-input-element {
    padding-right: 10px !important;
    padding-left: unset !important;
    position: relative;
    bottom: 2px;
}
html:lang(ar) .custom-date-picker.mat-form-field-disabled .mat-input-element {
    padding-right: 10px !important;
    padding-left: unset !important;
    position: relative !important;
    bottom: 4px !important;
    color: $font-color !important;
    font-size: 16px !important;
}

html:lang(ar) .custom-date-picker.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translate(-0.4em, -0.9em) scale(0.75) !important;
    width: 133.3333333333% !important;
}

html:lang(ar) .custom-date-picker .mat-form-field-wrapper .mat-form-field-label mat-label{
    padding-right: 5px;
    position: relative;
    bottom: 4px;
    line-height: 25px;
    padding-left: unset !important;
}
html:lang(ar) .custom-date-picker.mat-form-field-disabled .mat-form-field-wrapper .mat-form-field-label mat-label{
    padding-right: 18px !important;
    position: relative !important;
    bottom: 3px !important;
    line-height: 47px !important;
    color: $dark-font-color !important;
    font-size: 12px !important;
    font-weight: 600 !important;
}
.custom-date-picker.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    color: $primary-color !important;
    position: relative !important;
    bottom: -2px !important;
    &:hover{
        color: $primary-color-hover !important;
    }
    &:focus{
        color: $primary-color-focus !important;
    }
    &:disabled{
        position: relative !important;
        bottom: -3px !important;
        color: $dark-font-color !important;
    }
}
.mat-calendar-body-selected{
    background-color: $primary-color !important;
    color: $white-color !important;
}

html:lang(ar) .custom-date-picker.mat-form-field-disabled.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translate(0.3em, -1.4em) scale(0.75) !important;
    width: 133.3333333333% !important;
}


