.text-field-suffix-icon-extra-small.mat-form-field-appearance-outline .mat-form-field-flex{
    height: 30px !important;

}

html:lang(ar) .text-field-suffix-icon-extra-small .mat-input-element{
    bottom: 17px !important;
    font-size: 14px !important;

}

html:lang(ar) .text-field-suffix-icon-extra-small.mat-form-field:not(.mat-form-field-appearance-legacy):not(.mat-form-field-invalid) .mat-form-field-suffix .mat-icon{
    bottom: 19px !important;
    font-size: 20px;

}

.text-field-suffix-icon-extra-small.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon{
    bottom: 19px !important;
    font-size: 20px;
}



