@import '../variables.scss';

.text-field-suffix-icon.mat-form-field-appearance-outline .mat-form-field-flex{
    height: 56px !important;
}

.text-field-suffix-icon .mat-form-field-outline-start {
    border-radius: 6px 0 0 6px !important;
    min-width: 6px !important;

    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
}

html:lang(ar) .text-field-suffix-icon .mat-form-field-outline-start {
    border-radius: 0 6px 6px 0 !important;
    min-width: 6px !important;

    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
}
html:lang(ar) .text-field-suffix-icon .mat-form-field-outline-end {
    border-radius: 6px 0px 0px 6px !important;
    min-width: calc(100% - 82px) !important;
    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
}
  
.text-field-suffix-icon .mat-form-field-outline-end {
    border-radius: 0 6px 6px 0 !important;
    min-width: calc(100% - 82px) !important;
    &.mat-form-field-disabled{
        background-color: $white-color!important;
    }
}
.text-field-suffix-icon.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-label {
    color: #02536B !important;
}
.text-field-suffix-icon.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-outline {
    color: #02536B !important;
}
.text-field-suffix-icon .mat-input-element{
    padding-left: 17px !important;
    position: relative !important;
    bottom: 8px !important;
    font-size: 14px;
    line-height: 24px;
}
html:lang(ar) .text-field-suffix-icon .mat-input-element{
    padding-right: 17px !important;
    line-height: 24px;
    position: relative;
    bottom: 0px !important;
}
.text-field-suffix-icon.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translate(0.4em,-1.6em) scale(0.75) !important;
    width: 133.3333333333% !important;
}
html:lang(ar) .text-field-suffix-icon.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform:translate(-0.6em, -0.9em) scale(0.75) !important;
    width: 133.3333333333% !important;
}

.text-field-suffix-icon.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $gray-color !important;
}
  /* Font color */
.text-field-suffix-icon.input.mat-input-element {
    color: $dark-font-color !important;
}
.text-field-suffix-icon.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
.text-field-suffix-icon.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.text-field-suffix-icon.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px !important;
}

.text-field-suffix-icon.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon{
    padding-right: 34px !important;
    position: relative !important;
    bottom: 9px !important;
    color: rgba(0, 0, 0, 0.5411764706) !important;
}
.text-field-suffix-icon.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  #34314C ;
 }
 html:lang(ar) .text-field-suffix-icon.mat-form-field:not(.mat-form-field-appearance-legacy):not(.mat-form-field-invalid) .mat-form-field-suffix .mat-icon{
    padding-right: 21px !important;
    padding-left: 6px !important;
    position: relative !important;
    bottom: 7px;
    color: rgba(0, 0, 0, 0.5411764706) !important;
}
.text-field-suffix-icon .mat-form-field-wrapper .mat-form-field-label mat-label{
    padding-left: 17px !important;
    line-height: 20px !important;
    position: relative;
    bottom: 3px;
}
.text-field-suffix-icon.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label {
    color:  #34314C;
}

html:lang(ar) .text-field-suffix-icon .mat-form-field-wrapper .mat-form-field-label mat-label{
    padding-right: 15px !important;
    padding-left: unset !important;
    line-height: 20px;
}
