@import '../variables.scss';

.single-password-text-field .mat-form-field-outline-gap {
    border-top: 1px solid !important;
    width: auto !important;
}

.single-password-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label {
    color:  #34314C !important;
}

.single-password-text-field .mat-form-field-outline-start {
    border-radius: 6px 0 0 6px !important;
    min-width: 6px !important;

    &.mat-form-field-disabled{
        background-color: $white-color!important;
    }
}

html:lang(ar) .single-password-text-field .mat-form-field-outline-start {
    border-radius: 0 6px 6px 0 !important;
    min-width: 6px !important;

    &.mat-form-field-disabled{
        background-color: $white-color!important;
    }
}

html:lang(ar) .single-password-text-field .mat-form-field-outline-end {
    border-radius: 6px 0px 0px 6px !important;
    min-width: calc(100% - 93px) !important;
    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
}
  
.single-password-text-field .mat-form-field-outline-end {
    border-radius: 0 6px 6px 0 !important;
    min-width: calc(100% - 93px) !important;
    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
}

html:lang(ar) .single-password-text-field-large-floating-label .mat-form-field-outline-end {
    border-radius: 6px 0px 0px 6px !important;
    min-width: calc(100% - 131px) !important;
    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
}
  
.single-password-text-field-large-floating-label .mat-form-field-outline-end {
    border-radius: 0 6px 6px 0 !important;
    min-width: calc(100% - 131px) !important;
    &.mat-form-field-disabled{
        background-color: $white-color !important;
    }
}

.single-password-text-field.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-label {
    color: #02536B !important;
}

.single-password-text-field.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-outline {
    color: #02536B !important;
}

.single-password-text-field .mat-input-element{
    padding-left: 20px !important;
    position: relative !important;
    bottom: 3px !important;
    font-size: 14px;
    line-height: 24px;
}

.single-password-text-field.mat-form-field-appearance-outline .mat-form-field-flex{
    height: 56px !important;
}

html:lang(ar) .single-password-text-field .mat-input-element{
    padding-right: 20px !important;
    padding-left: unset !important;
    bottom: 3px !important;
}

.single-password-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translate(0.6em,-0.9em) scale(0.75) !important;
    width: 133.3333333333% !important;
}

html:lang(ar) .single-password-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translate(-0.6em, -0.9em) scale(0.75) !important;
    width: 133.3333333333% !important;
}

.single-password-text-field.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $gray-color !important;
}

.single-password-text-field.input.mat-input-element {
    color: $dark-font-color !important;
}

.single-password-text-field.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
.single-password-text-field.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.single-password-text-field.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px !important;
}

.single-password-text-field.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon{
    padding-right: 49px !important;
    position: relative !important;
    bottom: -1px !important;
    color: rgba(68, 68, 68, 0.8666666667) !important;
    cursor: pointer;
    font-size: 24px;
}

html:lang(ar) .single-password-text-field.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon{
    padding-right: 26px !important;
    padding-left: 20px !important;
    position: relative !important;
    bottom: -1px !important;
    color: #444444DD !important;
    cursor: pointer;
    font-size: 24px;
}

.single-password-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  #34314C !important;
}
 .single-password-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label {
    color:  #34314C !important;
}
 
.single-password-text-field .mat-form-field-wrapper .mat-form-field-label mat-label{
    padding-left: 15px !important;
    position: relative;
    bottom: 3px;
    line-height: 21px;
}

html:lang(ar) .single-password-text-field .mat-form-field-wrapper .mat-form-field-label mat-label{
    padding-right: 15px !important;
    padding-left: unset !important;
    position: relative;
    bottom: 3px;
    line-height: 21px;
}