@import '../../../variables.scss';

//Large Secondary Button Style
.realsoft-secondary-btn-large{
    background: $sec-color !important;
    color: $white-color !important;
    font-size: $large-text !important;
    line-height: $large-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 0px !important;
    }

    &:hover{
        background: $sec-color-hover !important;
    }

    &:focus{
        background: $sec-color-focus !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
    }
}

//Large Secondary Stroked Button Style
.realsoft-secondary-stroked-btn-large{
    background: $white-color !important;
    border: 1px solid $sec-color !important;
    color: $sec-color !important;
    font-size: $large-text !important;
    line-height: $large-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 0px !important;
    }

    &:hover{
        background: $secondary-stroked-hover-focus !important;
        color: $sec-color-hover !important;
    }

    &:focus{
        background: $secondary-stroked-hover-focus !important;
        color: $sec-color-focus !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        border: 1px solid $gray-color !important;
    }
}

//Large Secondary Link Button Style
.realsoft-secondary-link-btn-large{
    color: $sec-color !important;
    text-decoration: underline !important;
    font-size: $large-text !important;
    height: 38px !important;
    &:hover{
        color: $sec-color-hover !important;
    }
    &:focus{
        color: $sec-color-focus !important;
    }
    &:disabled{
        color: $gray-color !important;
        background: $white-color !important;
    }
}

//Large Secondary Button with Prefix Icon Style
.realsoft-secondary-icon-prefix-btn-large{
    background: $sec-color !important;
    color: $white-color !important;
    font-size: $large-text !important;
    line-height: $large-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 0px !important;
    }

    &:hover{
        background: $sec-color-hover !important;
    }

    &:focus{
        background: $sec-color-focus !important;
    }

    
    & .material-icons{
        color: $white-color !important;
        font-size: 22px !important;
        position: relative !important;
        left: -3px !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        & .material-icons{
            color: $gray-color !important;
        }
    }
}

//Large Secondary Text Button
.realsoft-secondary-text-btn-large{
    color: $sec-color !important;
    font-size: $large-text !important;
    height: 38px !important;
    &:hover{
        color: $sec-color-hover !important;
    }
    &:focus{
        color: $sec-color-focus !important;
    }
    &:disabled{
        color: $gray-color !important;
        background: $white-color !important;
    }
}

//Large Secondary Button with Suffix Icon Style
.realsoft-secondary-icon-suffix-btn-large{
    background: $sec-color !important;
    color: $white-color !important;
    font-size: $large-text !important;
    line-height: $large-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 0px !important;
    }

    &:hover{
        background: $sec-color-hover !important;
    }

    &:focus{
        background: $sec-color-focus !important;
    }

    
    & .material-icons{
        color: $white-color !important;
        font-size: 22px !important;
        position: relative !important;
        right: -3px !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        & .material-icons{
            color: $gray-color !important;
        }
    }
}

//Large Secondary Stroked Button with Prefix Icon Style
.realsoft-secondary-stroked-icon-prefix-btn-large{
    background: $white-color !important;
    border: 1px solid $sec-color !important;
    color: $sec-color !important;
    font-size: $large-text !important;
    line-height: $large-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 0px !important;
    }

    &:hover{
        color: $sec-color-hover !important;
        background: $secondary-stroked-hover-focus !important;
        & .material-icons{
            color: $sec-color-hover !important;
        }
    }

    &:focus{
        color: $sec-color-focus !important;
        background: $secondary-stroked-hover-focus !important;
        & .material-icons{
            color: $sec-color-focus !important;
        }
    }

    
    & .material-icons{
        color: $sec-color !important;
        font-size: 22px !important;
        position: relative !important;
        left: -3px !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        border: 1px solid $gray-color !important;
        & .material-icons{
            color: $gray-color !important;
        }
    }
}

//Large Secondary Stroked Button with Suffix Icon Style
.realsoft-secondary-stroked-icon-suffix-btn-large{
    background: $white-color !important;
    border: 1px solid $sec-color !important;
    color: $sec-color !important;
    font-size: $large-text !important;
    line-height: $large-button-height !important;
    border-radius: 6px !important;

    &__span{
        position: relative !important;
        top: 0px !important;
    }

    &:hover{
        color: $sec-color-hover !important;
        background: $secondary-stroked-hover-focus !important;
        & .material-icons{
            color: $sec-color-hover !important;
        }
    }

    &:focus{
        color: $sec-color-focus !important;
        background: $secondary-stroked-hover-focus !important;
        & .material-icons{
            color: $sec-color-focus !important;
        }
    }

    
    & .material-icons{
        color: $sec-color !important;
        font-size: 22px !important;
        position: relative !important;
        right: -3px !important;
    }

    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        border: 1px solid $gray-color !important;
        & .material-icons{
            color: $gray-color !important;
        }
    }
}
