

.filter-icon-container{

    position: relative;
    
    &.filter-value::before{
        content: "";
        position: absolute;
        top: -6px;
        right: -6px;
        width: 10px;
        height: 10px;
        background-color: #3aad49;
        border-radius: 50%;
        
    }
}

.filter-icon{
    color: #34A4DF;
}