@import '../../variables.scss';

//Input Field Height
.single-password-text-field.mat-form-field-appearance-outline .mat-form-field-flex{
    height: $medium-input-field-height;
}

//Input Field Align Items
.single-password-text-field .mat-form-field-flex{
    align-items: center;
}

//Input Field Floating Label
.single-password-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translateY(-1.1em) scale(0.75) !important;
    width: 133.3333333333% !important;
}

//Input Field Hover State Style
.single-password-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-label {
    color:  $input-field-hover-color  !important;
}
.single-password-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-label mat-label {
    color:  $input-field-hover-color  !important;
}
.single-password-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  $input-field-hover-color  !important;
}

//Input Field Focus State Style
.single-password-text-field.mat-form-field:not(.mat-form-field-disabled).mat-focused .mat-form-field-label {
    color: $input-field-focus-color-outline !important;
}
.single-password-text-field.mat-form-field:not(.mat-form-field-disabled).mat-focused .mat-form-field-label mat-label{
    color: $input-field-focus-color-outline !important;
}
.single-password-text-field.mat-form-field:not(.mat-form-field-disabled).mat-focused .mat-form-field-outline {
    color: $input-field-focus-color-outline !important;
}

//Input Field Input Element Style
.single-password-text-field .mat-input-element{
    position: relative !important;
    bottom: 2px !important;
    padding-left: 3px;
    font-size: $normal-text;
    line-height: 24px;
    color: $font-color;
}

//Input Field Default State Outline State
.single-password-text-field.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $input-field-outline-color !important;
}

//Input Field Suffix Icon Style
.single-password-text-field.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon{
    position: relative !important;
    bottom: 1px !important;
    color: $input-field-password-icon-color !important;
    cursor: pointer;
    font-size: 22px;
}

//Input Field Label Style
.single-password-text-field .mat-form-field-wrapper .mat-form-field-label mat-label{
    position: relative;
    bottom: -2px;
    font-size: $normal-text;
    padding-left: 3px;
    line-height: 21px;
    color: $input-field-label-color;
}
