<ng-container *ngTemplateOutlet="configurations?.type === 'basic' ?  basic : (configurations?.type === 'btnTrigger' ? btnTrigger : (configurations?.type === 'textTrigger' ? textTrigger : primary))">
</ng-container>

<ng-template #basic >
    <button mat-icon-button class="realsoft-button" [matMenuTriggerFor]="menu">
        <mat-icon class="mat-icon-trigger">{{configurations?.triggerIcon}}</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu" role="menu">
        <button mat-menu-item 
        role="menuitem"
        class="menu-item"
        *ngFor="let item of data" 
        (click)="clickMenuItem(item)" 
        [disabled]="item.isDisabled"
        (closed)="menuClosed($event)"
        >
      <span> {{ lang === 'ar' ? item.menuLinkTextAr : item.menuLinkText }}</span>
      </button>  
    </mat-menu>
</ng-template>

<ng-template #primary >
    <button mat-icon-button class="realsoft-button" [matMenuTriggerFor]="menu">
        <mat-icon>{{configurations?.triggerIcon}}</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu">
        <button mat-menu-item 
        class="menu-item"
        *ngFor="let item of data" 
        (click)="clickMenuItem(item)"  
        [disabled]="item.isDisabled"
        (closed)="menuClosed($event)">
        <mat-icon class="menu-item-icon">{{ item.menuIcon }}</mat-icon>
      <span> {{ lang === 'ar' ? item.menuLinkTextAr : item.menuLinkText }}</span>
      </button>  
    </mat-menu>
</ng-template>

<ng-template #btnTrigger>

    <button mat-flat-button class="realsoft-button menu-btn" [matMenuTriggerFor]="menu">
        <mat-icon class="menu-icon">{{icon}}</mat-icon>
        {{btnTxt}}
    </button>
    <mat-menu #menu="matMenu" class="menu">
        <button mat-menu-item 
        class="menu-item"
        *ngFor="let item of data" 
        (click)="clickMenuItem(item)" 
        [disabled]="item.isDisabled"
        (closed)="menuClosed($event)">
        <mat-icon class="menu-item-icon">{{ item.menuIcon }}</mat-icon>
      <span> {{ lang === 'ar' ? item.menuLinkTextAr : item.menuLinkText }}</span>
      </button>  
    </mat-menu>

</ng-template>


<ng-template #textTrigger>
<button mat-button [matMenuTriggerFor]="menu">{{btnTxt}}</button>
   <mat-menu  #menu="matMenu">
   <button mat-menu-item  *ngFor="let item of data" (click)="clickMenuItem(item)" [disabled]="item.isDisabled" (closed)="menuClosed($event)">{{ lang === 'ar' ? item.menuLinkTextAr : item.menuLinkText }}</button>
   </mat-menu>
</ng-template>