:root {
--realsoft-pseudo-checkbox-width: 18px;
--realsoft-pseudo-checkbox-height: 18px;
--realsoft-pseudo-checkbox-border-radius: 2px;
--realsoft-pseudo-checkbox-border-width: 2px;
--realsoft-full-pseudo-checkbox-selected-icon-color: #ba005c;
--realsoft-full-pseudo-checkbox-selected-checkmark-color: #ffffff;
--realsoft-full-pseudo-checkbox-unselected-icon-color: #514346;
--realsoft-full-pseudo-checkbox-disabled-selected-checkmark-color: #fff8f8;
--realsoft-full-pseudo-checkbox-disabled-unselected-icon-color: rgba(32, 26, 27, .38);
--realsoft-full-pseudo-checkbox-disabled-selected-icon-color: rgba(32, 26, 27, .38);
--realsoft-minimal-pseudo-checkbox-disabled-selected-checkmark-color: rgba(32, 26, 27, .38);
--realsoft-minimal-pseudo-checkbox-selected-checkmark-color: #ba005c;
}