@import '../variables.scss';

//White Background
.global-search-text-field.mat-form-field-appearance-outline .mat-form-field-outline-start{
    background-color: $white-color !important; }
.global-search-text-field.mat-form-field-appearance-outline .mat-form-field-outline-gap{ 
    background-color: $white-color !important; }
.global-search-text-field.mat-form-field-appearance-outline .mat-form-field-outline-end{ 
    background-color: $white-color !important; }


.global-search-text-field .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
    opacity: 1!important;
}

//Global Search Text Field Height
.global-search-text-field.mat-form-field-appearance-outline .mat-form-field-flex{
  height: 70px;
}

//Global Search Text Field Rounded Corners
.global-search-text-field .mat-form-field-outline-start {
  border-radius: 8px 0 0 8px !important;
  min-width: 8px !important;
}

html:lang(ar) .global-search-text-field .mat-form-field-outline-start {
  border-radius: 0 8px 8px 0 !important;
  min-width: 8px !important;
}

.global-search-text-field .mat-form-field-outline-end {
  border-radius: 0 8px 8px 0 !important;
  min-width: 8px !important;
}

html:lang(ar) .global-search-text-field .mat-form-field-outline-end {
  border-radius: 8px 0 0 8px !important;
  min-width: 8px !important;
}

//Global Search Input Field Style
.global-search-text-field .mat-input-element{
  font-size: 20px !important;
  position: relative !important;
  bottom: 3px !important;
  line-height: 20px !important;
  padding-left: 15px !important;
}

//Global Search Suffix Icon Style
.global-search-text-field.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon{
  color: $input-field-focus-color-outline !important;
  font-size: 36px !important;
  position: relative !important;
  top: 4px !important;
  right: 18px !important;
}

//Input Field Focus State Style
.global-search-text-field.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-label {
  color: $input-field-focus-color-outline !important;
}
.global-search-text-field.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-label mat-label {
  color: $input-field-focus-color-outline !important;
}
.global-search-text-field.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-outline {
  color: $input-field-focus-color-outline !important;
}

//Input Field Hover State Style
.global-search-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-outline {
  color:  $input-field-hover-color !important;
}

.global-search-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label {
  color:  $input-field-hover-color !important;
}

.global-search-text-field.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label mat-label {
  color:  $input-field-hover-color !important;
}
