<ng-container *ngTemplateOutlet="configurations?.fieldType === 'iconIncluded' ? withIcon : (configurations?.fieldType === 'multiIconsIncluded' ?  multiIconsIncluded : (configurations?.fieldType === 'password' ? password : without))"></ng-container>
  <ng-template #without>
    <mat-form-field class="__realsoft-form-field icon-text-field" appearance="outline">
      <mat-label class="realsoft-text-label" *ngIf="appearance === 'outline'">{{label}}</mat-label>
      <input  matInput class="realsoft-input-element" [type]="type" [disabled]="isDisabled" 
      [(ngModel)]="value" (ngModelChange)="onChange($event)" ngDefaultControl (blur)="markAsTouched()"
      [placeholder]="placeholder" [min]="configurations?.min" [required]="required ? required : isRequired"
      [max]="configurations?.max" [attr.maxlength]="configurations?.maxlength" 
      >
  </mat-form-field>
  </ng-template>

  <ng-template #withIcon>
  <mat-form-field class="__realsoft-form-field single-icon-text-field" appearance="outline">
    <mat-label class="realsoft-text-label" *ngIf="appearance === 'outline'">{{label}}</mat-label>
  <input  matInput class="realsoft-input-element" [type]="type" [disabled]="isDisabled"
  [placeholder]="placeholder" (keyup)="onKey($event)" [(ngModel)]="value"
  (ngModelChange)="onChange($event)" ngDefaultControl (blur)="markAsTouched()" [required]="required ? required : isRequired"
  [min]="configurations?.min" [max]="configurations?.max" [attr.maxlength]="configurations?.maxlength"
>
  <mat-icon matPrefix [matTooltip]="iconTooltip" class="input-field-single-icon" (click)="onClick($event)" [hidden]="hidden">{{configurations?.icon}}</mat-icon>
  </mat-form-field>
  </ng-template>

  <ng-template #multiIconsIncluded>
  <mat-form-field class="__realsoft-form-field single-icon-text-field" appearance="outline">
    <mat-label class="realsoft-text-label" *ngIf="appearance === 'outline'">{{label}}</mat-label>
  <mat-icon matPrefix  [matTooltip]="firstIconTooltip" class="input-field-first-icon" (click)="firsttIconClick($event)">{{configurations?.firstIcon}}</mat-icon>
  <input  matInput class="realsoft-input-element" [type]="type" [disabled]="isDisabled" [placeholder]="placeholder" 
  (keyup)="onKey($event)" [(ngModel)]="value" (ngModelChange)="onChange($event)" ngDefaultControl (blur)="markAsTouched()"
  [min]="configurations?.min" [max]="configurations?.max" [attr.maxlength]="configurations?.maxlength" [required]="required ? required : isRequired"
  >
  <mat-icon matSuffix [matTooltip]="secondIconTooltip" class="input-field-second-icon" (click)="seconddIconClick($event)" [hidden]="hidden">{{configurations?.secondIcon}}</mat-icon>
  </mat-form-field>
  </ng-template>

  <ng-template #password>
  <mat-form-field class="__realsoft-form-field" appearance="outline">
  <mat-label class="realsoft-text-label" *ngIf="appearance === 'outline'">{{label}}</mat-label>
  <input matInput class="realsoft-input-element" ngDefaultControl (blur)="markAsTouched()" [required]="required ? required : isRequired"
  [(ngModel)]="value" (ngModelChange)="onChange($event)" [disabled]="isDisabled" [placeholder]="placeholder"
  [type]="hidePassword ? 'password' : 'text'" 
  />
  <mat-icon matSuffix (click)="hidePass()">{{hidePassword ? "visibility_off" : "visibility"}}</mat-icon>
  </mat-form-field>
  </ng-template>