<ng-container *ngTemplateOutlet="configurations?.fieldType === 'iconIncluded' ? withIcon : (configurations?.fieldType === 'multiIconsIncluded' ?  multiIconsIncluded : (configurations?.fieldType === 'password' ? password : (configurations?.fieldType === 'passwordMultiple' ? passwordMultiple : (configurations?.fieldType === 'suffixIcon' ? suffixIcon : (configurations?.fieldType === 'globalSearch' ? globalSearch : without)))))"></ng-container>
 
  <ng-template #without>
    <mat-form-field 
    class="text-field-no-icon form-fields"
    appearance="outline" 
    [ngClass]="{'text-field-no-icon-large-floating-label' : configurations?.largeFloatingLabel,
    'text-field-no-icon-small-floating-label' : configurations?.smallFloatingLabel, 
    'text-field-no-icon-medium-floating-label' : configurations?.mediumFloatingLabel,
    'text-field-no-icon-small' : size === 'small' , 'text-field-no-icon-large' :size === 'large',
    'text-field-invalid' : (invalid === true || isRequired === true )}">
    <mat-label *ngIf="appearance === 'outline'">{{label}}</mat-label>
    <input matInput
    [type]="type" 
    [disabled]="isDisabled" 
    [(ngModel)]="value" (ngModelChange)="onChange($event)" ngDefaultControl
    (blur)="markAsTouched($event)"
    (focus)="focusEvent($event)"
    [placeholder]="placeholder"
    [min]="configurations?.min" 
    [required]="required ? required : isRequired"
    [max]="configurations?.max" 
    [maxlength]="maxlength" 
    [minlength]="minlength" 
    oninput="if (value.length > maxLength && type === 'number') value = value.slice(0, maxLength);"
    [autocomplete]="autocomplete">
    </mat-form-field>
    <!-- <div style="display: flex;"></div> -->
    <ng-content select="mat-hint"></ng-content>
    <ng-content select="mat-error"></ng-content>
  </ng-template>

  <ng-template #withIcon>
    <mat-form-field
    class="text-field-prefix-icon form-fields" 
    appearance="outline" 
    [ngClass]="{'text-field-prefix-icon-small' : size === 'small' , 
    'text-field-prefix-icon-large' : size === 'large',
    'text-field-invalid' : (invalid === true || isRequired === true )}">
    <mat-label *ngIf="appearance === 'outline'">{{label}}</mat-label>
    <mat-icon class="prefix-icon" matPrefix [matTooltip]="firstIconTooltip" (click)="firsttIconClick($event)">{{configurations?.firstIcon}}</mat-icon>
    <input 
    class="text-field-prefix-icon-element" 
    matInput 
    [type]="type" 
    [disabled]="isDisabled" 
    [placeholder]="placeholder" 
    (keyup)="onKey($event)" 
    [(ngModel)]="value" (ngModelChange)="onChange($event)" ngDefaultControl 
    (blur)="markAsTouched($event)"
    (focus)="focusEvent($event)"
    [min]="configurations?.min" 
    [max]="configurations?.max" 
    [maxlength]="maxlength" 
    [minlength]="minlength"
    oninput="if (value.length > maxLength && type === 'number') value = value.slice(0, maxLength);"
    [required]="required ? required : isRequired" 
    [autocomplete]="autocomplete">
    </mat-form-field>
    <ng-content select="mat-hint"></ng-content>
    <ng-content select="mat-error"></ng-content>
  </ng-template>

  <ng-template #multiIconsIncluded>
    <mat-form-field 
    class="text-field-multi-icons form-fields" 
    appearance="outline" 
    [ngClass]="{'text-field-multi-icons-small' : size === 'small' , 'text-field-multi-icons-large' : size === 'large','text-field-invalid' : (invalid === true || isRequired === true )}">
    <mat-label *ngIf="appearance === 'outline'">{{label}}</mat-label>
    <mat-icon class="first-icon" matPrefix  [matTooltip]="firstIconTooltip" (click)="firsttIconClick($event)">{{configurations?.firstIcon}}</mat-icon>
    <input  
    matInput 
    [type]="type" 
    [disabled]="isDisabled" 
    [placeholder]="placeholder" 
    (keyup)="onKey($event)" 
    [(ngModel)]="value" (ngModelChange)="onChange($event)" ngDefaultControl 
    (blur)="markAsTouched($event)"
    (focus)="focusEvent($event)"
    [min]="configurations?.min" 
    [max]="configurations?.max" 
    [maxlength]="maxlength" 
    [minlength]="minlength"
    oninput="if (value.length > maxLength && type === 'number') value = value.slice(0, maxLength);"
    [required]="required ? required : isRequired" 
    [autocomplete]="autocomplete">
    <mat-icon matSuffix class="second-icon" [matTooltip]="secondIconTooltip"  (click)="seconddIconClick($event)" [hidden]="hidden">{{configurations?.secondIcon}}</mat-icon>
    </mat-form-field>
    <ng-content select="mat-hint"></ng-content>
    <ng-content select="mat-error"></ng-content>
  </ng-template>

  <ng-template #suffixIcon>
    <mat-form-field 
    class="text-field-suffix-icon form-fields" 
    appearance="outline" 
    [ngClass]="{'text-field-suffix-icon-small' : size === 'small' , 'text-field-suffix-icon-large' : size === 'large','text-field-invalid' : (invalid === true || isRequired === true )}">
    <mat-label *ngIf="appearance === 'outline'">{{label}}</mat-label>
    <mat-icon class="suffix-icon" matSuffix  [matTooltip]="firstIconTooltip" (click)="firsttIconClick($event)">{{configurations?.firstIcon}}</mat-icon>
    <input  
    matInput  
    [type]="type" 
    [disabled]="isDisabled" 
    [placeholder]="placeholder" 
    (keyup)="onKey($event)" 
    [(ngModel)]="value" (ngModelChange)="onChange($event)" ngDefaultControl 
    (blur)="markAsTouched($event)"
    (focus)="focusEvent($event)"
    [min]="configurations?.min" 
    [max]="configurations?.max" 
    [maxlength]="maxlength" 
    [minlength]="minlength"
    oninput="if (value.length > maxLength && type === 'number') value = value.slice(0, maxLength);"
    [required]="required ? required : isRequired" 
    [autocomplete]="autocomplete">
    </mat-form-field>
    <ng-content select="mat-hint"></ng-content>
    <ng-content select="mat-error"></ng-content>
</ng-template>

  <ng-template #password>
    <mat-form-field
    class="single-password-text-field form-fields" 
    appearance="outline" 
    [ngClass]="{'single-password-text-field-large-floating-label' : configurations?.largeFloatingLabel, 'single-password-text-field-small' : size === 'small' , 'single-password-text-field-large' : size === 'large','text-field-invalid' : (invalid === true || isRequired === true )}">
    <mat-label *ngIf="appearance === 'outline'">{{label}}</mat-label>
    <input 
    matInput  
    [(ngModel)]="value" (ngModelChange)="onChange($event)" ngDefaultControl 
    (blur)="markAsTouched($event)"
    (focus)="focusEvent($event)"
    [required]="required ? required : isRequired"
    [disabled]="isDisabled" 
    [maxlength]="maxlength" 
    [minlength]="minlength"
    [placeholder]="placeholder"
    oninput="if (value.length > maxLength && type === 'number') value = value.slice(0, maxLength);"
    [type]="hidePassword ? 'password' : 'text'"  
    [autocomplete]="autocomplete">
    <mat-icon matSuffix class="password-icon" (click)="hidePass()">{{hidePassword ? "visibility_off" : "visibility"}}</mat-icon>
    </mat-form-field>
    <ng-content select="mat-hint"></ng-content>
    <ng-content select="mat-error"></ng-content>
  </ng-template>

  <ng-template #passwordMultiple>
    <mat-form-field 
    class="multiple-password-text-field form-fields" 
    appearance="outline" 
    [ngClass]="{'multiple-password-text-field-small' : size === 'small' , 'multiple-password-text-field-large' : size === 'large','text-field-invalid' : (invalid === true || isRequired === true )}">
    <mat-icon matPrefix class="password-suffix-icon">{{configurations?.suffixIcon}}</mat-icon>
    <mat-label *ngIf="appearance === 'outline'">{{label}}</mat-label>
    <input 
    matInput  
    [(ngModel)]="value" (ngModelChange)="onChange($event)" ngDefaultControl 
    (blur)="markAsTouched($event)"
    (focus)="focusEvent($event)"
    [required]="required ? required : isRequired"
    [disabled]="isDisabled"
    [placeholder]="placeholder"
    [maxlength]="maxlength" 
    [minlength]="minlength"
    oninput="if (value.length > maxLength && type === 'number') value = value.slice(0, maxLength);"
    [type]="hidePassword ? 'password' : 'text'" 
    [autocomplete]="autocomplete">
    <mat-icon matSuffix class="password-icon" (click)="hidePass()">{{hidePassword ? "visibility_off" : "visibility"}}</mat-icon>
    </mat-form-field>
    <ng-content select="mat-hint"></ng-content>
    <ng-content select="mat-error"></ng-content>
</ng-template>

<ng-template #globalSearch>
  <mat-form-field 
  class="global-search-text-field form-fields"
  appearance="outline">
  <input matInput
  [type]="type" 
  [disabled]="isDisabled" 
  [(ngModel)]="value" (ngModelChange)="onChange($event)" ngDefaultControl
  [placeholder]="placeholder"
  [autocomplete]="autocomplete"
  (keyup.enter)="enterEvent($event)"
  (blur)="markAsTouched($event)"
  (focus)="focusEvent($event)">
  <mat-icon matSuffix (click)="searchEvent($event)">search</mat-icon>
  </mat-form-field>
</ng-template>