@import '../../variables.scss';

//Input Field Height
.text-field-multi-icons-large.mat-form-field-appearance-outline .mat-form-field-flex{
    height: $large-input-field-height;
}

//Input Field Focus State Style
.text-field-multi-icons-large.mat-form-field:not(.mat-form-field-disabled).mat-focused .mat-form-field-label {
    color: $input-field-focus-color-outline !important;
}

.text-field-multi-icons-large.mat-form-field:not(.mat-form-field-disabled).mat-focused .mat-form-field-label mat-label {
    color: $input-field-focus-color-outline !important;
}

.text-field-multi-icons-large.mat-form-field:not(.mat-form-field-disabled).mat-focused .mat-form-field-outline {
    color: $input-field-focus-color-outline !important;
}

//Input Field Input Element Style
.text-field-multi-icons-large .mat-input-element{
    position: relative !important;
    bottom: 6px !important;
    font-size: $large-text !important;
    padding-left: unset !important;
    line-height: 24px !important;
    color: $font-color !important;
}

//Input Field Default State Outline Style
.text-field-multi-icons-large.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $input-field-disabled-border-color !important;
}

//Input Field Prefix Icon Style
.text-field-multi-icons-large.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon{
    font-size: 24px !important;
    position: relative !important;
    bottom: 2px !important;
    color: $input-field-prefix-icon-color !important;
}

//Input Field Suffix Icon Style
.text-field-multi-icons-large.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon{
    position: relative !important;
    color: $input-field-icon-gray-color !important;
    cursor: pointer !important;
    font-size: 24px !important;
    bottom: 2px !important;
}

//Input Field Hover State Style
.text-field-multi-icons-large.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  $input-field-hover-color !important;
}

.text-field-multi-icons-large.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label {
    color:  $input-field-hover-color !important;
}

.text-field-multi-icons-large.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label mat-label {
    color:  $input-field-hover-color !important;
}

.text-field-multi-icons-large .mat-form-field-wrapper .mat-form-field-label mat-label{
    line-height: 20px !important;
    position: relative !important;
    bottom: -1px !important;
    padding-left: unset !important;
    color: $input-field-label-color !important;
    font-size: $large-text;
}