
  @import '../variables.scss';
  .display{
    display: flex;
   }
  .transfer-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 35px;
    margin-left: 35px;
    gap : 12px;
  }
  
  .realsoft-first-draggable-table , .realsoft-second-draggable-table{
    width: 100%;
  }
  
  .realsoft-first-draggable-table table.mat-table .mat-row:nth-child(odd) {
    background-color:#FCFCFC;
  }
  
  .realsoft-first-draggable-table table {
    border: none!important;
    border-collapse: unset !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    table-layout: auto !important;
    background-color: unset!important;
  }
  
  .realsoft-first-draggable-table table caption {
    font-size: unset !important;
    margin: unset !important;
  }
  .realsoft-first-draggable-table table tr {
    border: unset !important;
    padding: unset !important;
  } 
  .realsoft-first-draggable-table table th, .realsoft-first-draggable-table table td {
    padding-left: unset !important;
    text-align: unset;
    padding-right: unset !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 100px;
  }
  .realsoft-first-draggable-table table th {
    font-size: unset !important;
    letter-spacing: unset !important;
  }
  .realsoft-first-draggable-table table tr.mat-header-row .mat-sort-header-content {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #000;
  }
  
  .realsoft-first-draggable-tablee table th.mat-header-cell {
    border-bottom-color: $gray-color !important;
    color: #000 !important;
    font-size: 12px !important;
    font-weight: 600 !important;
  }
  .realsoft-first-draggable-table table th.mat-header-cell:first-of-type:lang(ar) {
    padding-right: 10px !important;
    padding-left: unset !important;
  }
  .realsoft-first-draggable-table table td.mat-cell:first-of-type:lang(ar), .realsoft-first-draggable-table table td.mat-footer-cell:first-of-type:lang(ar) {
    padding-right: 10px !important;
    padding-left: unset !important;
  }
  
  .realsoft-second-draggable-table table.mat-table .mat-row:nth-child(odd) {
    background-color:#FCFCFC;
  }
  
  .realsoft-second-draggable-table table {
    border: none!important;
    border-collapse: unset !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    table-layout: auto !important;
    background-color: unset!important;
  }
  
  .realsoft-second-draggable-table table caption {
    font-size: unset !important;
    margin: unset !important;
  }
  .realsoft-second-draggable-table table tr {
    border: unset !important;
    padding: unset !important;
  } 
  .realsoft-second-draggable-table table th, .realsoft-second-draggable-table table td {
    padding-left: unset !important;
    text-align: unset;
    padding-right: unset !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 100px;
  }
  .realsoft-second-draggable-table table th {
    font-size: unset !important;
    letter-spacing: unset !important;
  }
  .realsoft-second-draggable-table table tr.mat-header-row .mat-sort-header-content {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #000;
  }
  
  .realsoft-second-draggable-tablee table th.mat-header-cell {
    border-bottom-color: $gray-color !important;
    color: #000 !important;
    font-size: 12px !important;
    font-weight: 600 !important;
  }
  .realsoft-second-draggable-table table th.mat-header-cell:first-of-type:lang(ar) {
    padding-right: 10px !important;
    padding-left: unset !important;
  }
  .realsoft-second-draggable-table table td.mat-cell:first-of-type:lang(ar), .realsoft-second-draggable-table table td.mat-footer-cell:first-of-type:lang(ar) {
    padding-right: 10px !important;
    padding-left: unset !important;
  }
  
  .realsoft-draggable-table-selection-checkbox .mat-checkbox-frame {
    border-color: $gray-color;
  }
  
  //Checkbox Ripple Element Style
  .realsoft-draggable-table-selection-checkbox.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: $primary-color !important;
  }
  
  //Checked State Checkbox Style
  .realsoft-draggable-table-selection-checkbox.mat-checkbox{
    &-indeterminate.mat-accent .mat-checkbox-background, &-checked.mat-accent .mat-checkbox-background{
    background-color: $primary-color !important;
    }
  }
  
  //Disabled State Checkbox Style
  .realsoft-draggable-table-selection-checkbox.mat-checkbox-disabled{
    .mat-checkbox-inner-container{
        background-color: $disabled-color !important;
    }
    .mat-checkbox-frame {
      border-color: $dark-gray-color !important;
    }
  }
  //Hover State Checkbox Style
  .realsoft-draggable-table-selection-checkbox.mat-checkbox:hover:not(.mat-checkbox-disabled) {
    .mat-checkbox-frame {
      border-color: $primary-color !important;//what ever color you want
    }
  }
  
  //Default Primary Stroked Button with Prefix Icon Style
  .draggable-tables-remove-button{
    background: $white-color !important;
    border: 1px solid $primary-color !important;
    color: $primary-color !important;
    font-size: $normal-text !important;
    line-height: $medium-button-height !important;
    border-radius: 6px !important;
  
    &__span{
        position: relative !important;
        top: -1px !important;
    }
  
    &:hover{
        background: $primary-stroked-hover-focus !important;
        color: $primary-color-hover !important;
  
        & .material-icons{
            color: $primary-color-hover !important;
        }
    }
  
    &:focus{
        background: $primary-stroked-hover-focus !important;
        color: $primary-color-focus !important;
  
        & .material-icons{
            color: $primary-color-focus !important;
        }
    }
  
    & .material-icons{
        color: $primary-color !important;
        font-size: 19px !important;
        position: relative !important;
        left: -3px !important;
    }
  
    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        border: 1px solid $gray-color !important;
        & .material-icons{
            color: $gray-color !important;
        }
    }
  }
  
  //Default Primary Stroked Button with Suffix Icon
  .draggable-tables-add-button{
    background: $white-color !important;
    border: 1px solid $primary-color !important;
    color: $primary-color !important;
    font-size: $normal-text !important;
    line-height: $medium-button-height !important;
    border-radius: 6px !important;
  
    &__span{
        position: relative !important;
        top: -1px !important;
    }
  
    &:hover{
        background: $primary-stroked-hover-focus !important;
        color: $primary-color-hover !important;
  
        & .material-icons{
            color: $primary-color-hover !important;
        }
    }
  
    &:focus{
        background: $primary-stroked-hover-focus !important;
        color: $primary-color-focus !important;
  
        & .material-icons{
            color: $primary-color-focus !important;
        }
    }
  
    & .material-icons{
        color: $primary-color !important;
        font-size: 19px !important;
        position: relative !important;
        right: -3px !important;
    }
  
    &:disabled{
        background: $disabled-color !important;
        color: $gray-color !important;
        border: 1px solid $gray-color !important;
        & .material-icons{
            color: $gray-color !important;
        }
    }
  }
  
  .realsoft-first-draggable-table table th.mat-header-cell, .realsoft-second-draggable-table table th.mat-header-cell {
      border-bottom-color: $gray-color !important;
      color: #000 !important;
      font-size: 12px !important;
      font-weight: 600 !important;
      position: relative !important;
      overflow: visible !important;
  }
  
  .no-records{
    text-align: center !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  
  