@import '../variables.scss';

//Selection List Checked Checkbox Border Color
.realsoft-selection-list .mat-pseudo-checkbox.mat-pseudo-checkbox-checked{
    border-color:$primary-color !important;
}

//Selection List Checked Checkbox Background Color
.realsoft-selection-list .mat-accent .mat-pseudo-checkbox-checked{
    background-color: $primary-color !important;
}
.realsoft-selection-list .mat-pseudo-checkbox-checked{
    background-color: $primary-color !important;
}

//Selection List Default State Checkbox Border Color
.realsoft-selection-list .mat-pseudo-checkbox{
    color: $gray-color;
}

//Selection List Hover State Checkbox Border Color
.realsoft-selection-list .mat-pseudo-checkbox:hover{
    color: $primary-color;
}