
@import '../variables.scss';
@import '@angular/material/theming';

.realsoft-table .mat-table{
    width: 100%;
}
.realsoft-table-filter{
    display: inline-block !important;
}
 
.table-header {
    margin-top: 1.5rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    .header-group {
      display: flex !important;
      gap: 15px !important;
    }
    .pagination-header {
      .mat-paginator-outer-container {
        display: flex !important;
      }
    }
}

//Input Field Height
.table-global-search.mat-form-field-appearance-outline .mat-form-field-flex{
    height: $small-input-field-height !important;
}
  
//Input Field Align Items
.table-global-search .mat-form-field-flex{
    align-items: center !important;
}
  
//Input Field Floating Label Style
.table-global-search.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translateY(-1.2em) scale(0.75) !important;
    width: 133.3333333333% !important;
}
  
//Input Field Input Element Style
.table-global-search.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-input-element{
    position: relative !important;
    bottom: 3px !important;
    line-height: 22px !important;
    font-size: $small-text !important;
    padding-left: unset !important;
    color: $font-color !important;
    margin-left: -9px !important;
}

html:lang(ar) .table-global-search.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-input-element{
    margin-right: -9px !important;
}
  
//Input Field Default State Outline Style
.table-global-search.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $input-field-outline-color !important;
}
  
//Input Field Prefix Icon Style
.table-global-search.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon{
    position: relative !important;
    bottom: 0px !important;
    color: $input-field-prefix-icon-color !important;
    font-size: 20px !important;
}
  
//Input Field Hover State Style
.table-global-search.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  $input-field-hover-color !important;
}
.table-global-search.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label {
    color:  $input-field-hover-color !important;
}
.table-global-search.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label mat-label {
    color:  $input-field-hover-color !important;
}
  
//Input Field Focus State Style
.table-global-search.mat-form-field:not(.mat-form-field-invalid).mat-focused  .mat-form-field-label {
    color: $input-field-focus-color-outline !important;
}
.table-global-search.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-outline {
    color: $input-field-focus-color-outline !important;
}
  
.table-global-search.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-label mat-label {
    color: $input-field-focus-color-outline !important;
}
  
//Input Field Label Style
.table-global-search .mat-form-field-wrapper .mat-form-field-label mat-label{
    line-height: 23px !important;
    position: relative !important;
    bottom: 1px !important;
    font-size: $small-text !important;
    color: $input-field-label-color !important;
    padding-left: unset !important;
}
  
.pagination-header{
    position: relative;
    top: -12px;
}
  
.realsoft-table table.mat-table .mat-row:nth-child(odd) {
    background-color:#FCFCFC;
}
.realsoft-table table {
    border: none!important;
    border-collapse: unset !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    table-layout: auto !important;
    background-color: unset!important;
}
.realsoft-table table caption {
    font-size: unset !important;
    margin: unset !important;
}
.realsoft-table table tr {
    border: unset !important;
    padding: unset !important;
} 
.realsoft-table table th, .realsoft-table table td {
    padding-left: 24px !important;
    text-align: unset;
    padding-right: 24px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 100px;
}
.realsoft-table table th {
    font-size: unset !important;
    letter-spacing: unset !important;
}
.realsoft-table table tr.mat-header-row .mat-sort-header-content {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #000;
}
  
.realsoft-table table th.mat-header-cell {
    border-bottom-color: $gray-color !important;
    color: #000 !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    position: relative !important;
    overflow: visible !important;
}
.realsoft-table table th.mat-header-cell:first-of-type:lang(ar) {
    padding-right: 24px !important;
    padding-left: 24px !important;
}
.realsoft-table table td.mat-cell:first-of-type:lang(ar), .custom-table table td.mat-footer-cell:first-of-type:lang(ar) {
    padding-right: 24px !important;
    padding-left: 24px !important;
}
.table-button{
    padding: 0 !important;
    min-width: unset !important;
}
.table-delete-icon{
    color: $danger-color;
}
.realsoft-table-mat-card {
    position: absolute !important;
    top: 25px;
    left: -30px;
}
  
//Default State Checkbox Style
.realsoft-table-selection-checkbox .mat-checkbox-frame {
    border-color: $gray-color;
}
  
//Checkbox Ripple Element Style
.realsoft-table-selection-checkbox.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: $primary-color !important;
}
  
//Checked State Checkbox Style
.realsoft-table-selection-checkbox.mat-checkbox{
    &-indeterminate.mat-accent .mat-checkbox-background, &-checked.mat-accent .mat-checkbox-background{
    background-color: $primary-color !important;
    }
}
  
//Disabled State Checkbox Style
.realsoft-table-selection-checkbox.mat-checkbox-disabled{
    .mat-checkbox-inner-container{
        background-color: $disabled-color !important;
    }
    .mat-checkbox-frame {
      border-color: $dark-gray-color !important;
    }
}
//Hover State Checkbox Style
  .realsoft-table-selection-checkbox.mat-checkbox:hover:not(.mat-checkbox-disabled) {
    .mat-checkbox-frame {
      border-color: $primary-color !important;//what ever color you want
    }
}
.table-filter-icon{
    font-size: 18px;
    position: relative;
    top: 5px;
    z-index:2;
}

//Input Field Height
.realsoft-table-select-filter.mat-form-field-appearance-outline .mat-form-field-flex{
    height: 46px;
}

//Input Field Align Items
.realsoft-table-select-filter .mat-form-field-flex{
    align-items: center !important;
}
.realsoft-table-select-filter .mat-select-value-text{
    font-size: 14px;
    position: relative;
    bottom: 3px;
    line-height: 28px;
}

.realsoft-table-select-filter .mat-form-field-wrapper .mat-form-field-label mat-label{
    font-size: 14px;
    position: relative;
    bottom: 3px;
    line-height: 28px;
}
  
.realsoft-table-select-filter.mat-form-field-appearance-outline:not(.mat-form-field-disabled).mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translateY(-1.2em) scale(0.75) !important;
    width: 133.3333333333% !important;
}
  
.realsoft-filter-select-panel{
    margin-top: 23px !important; 
}
  
.realsoft-table-select-filter .mat-select-placeholder{
    font-size: 14px;
    position: relative;
    bottom: 1px;
}
  
//Input Field Focus State Style
.realsoft-table-select-filter.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-label {
    color: #4137A8 !important;
}
.realsoft-table-select-filter.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-label mat-label {
    color: #4137A8 !important;
}
.realsoft-table-select-filter.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-form-field-outline {
    color: #4137A8 !important;
}
.realsoft-table-select-filter.mat-form-field:not(.mat-form-field-invalid).mat-focused .mat-select-arrow{
    color: #4137A8 !important;
}
  
//Input Field Hover State Style
.realsoft-table-select-filter.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  #344FB3 !important;
}
.realsoft-table-select-filter.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label {
    color:  #344FB3 !important;
}
.realsoft-table-select-filter.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-form-field-label mat-label {
    color:  #344FB3 !important;
}
.realsoft-table-select-filter.mat-form-field-appearance-outline:not(.mat-form-field-disabled):not(.mat-form-field-invalid) .mat-form-field-flex:hover .mat-select-arrow {
    color:  #344FB3 !important;
}
//Input Element Default State Outline Style
.realsoft-table-select-filter.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #BABABA !important;
}

.realsoft-table-select-filter .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: #4137A8 !important;
}
  // .realsoft-table-select-filter{
  //   font-size: 14px;
  // }
  
//Toggle Bar Style
.realsoft-table-slide-toggle.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: $toggle-background !important;
}
  
//Slide Toggle Thumb Style
.realsoft-table-slide-toggle.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $primary-color !important;
}
  
//Slide Toggle Ripple Element Style
  .realsoft-table-slide-toggle.mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: $primary-color !important;
}
.checkbox-center{
    text-align: center !important;
}
.margin{
    margin-left: 20px;
}

.mat-button-disabled mat-icon{
    color: #B7B7B7 !important;
}

.dragCursor {
    margin-right: 16px;
    cursor: move;
    position: relative;
    top: 4px;
}
  
// .realsoft-table .cdk-drag-preview {
//     box-sizing: border-box;
//     border-radius: 4px;
//     box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//     0 8px 10px 1px rgba(0, 0, 0, 0.14),
//     0 3px 14px 2px rgba(0, 0, 0, 0.12);
//     background: mat-color($mat-light-theme-background, background);
//     display: table;
// }


// .realsoft-table .cdk-drag-placeholder {
//     background: map_get($mat-grey, 300);
// }
  
// .realsoft-table .cdk-drag-animating {
//     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }
  
// .realsoft-table .cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
//     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }
.global-search{
    position: relative !important;
    bottom: -10px !important;
}

.realsoft-skeleton-grid{
    animation: loading 1.1s infinite linear;
    background: #eff1f6;
    background-image: linear-gradient(to right, #eff1f6 0%, #fafcff 20%, #eff1f6 40%, #eff1f6 100%);
    background-repeat: no-repeat;
    height: 25px;
    margin-top: 25px;
    width: 100%;
    border-radius: 6px;
}

@keyframes loading {
    0% {
      background-position: -100px;
    }
    100% {
    background-position: 1000px;
    }
}



.realsoft-drag-item.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px   
                rgba(0, 0, 0, 0.14), 0 3px 14px 2px 
                rgba(0, 0, 0, 0.12);
  
    height: 48px;
    background-color: white;
    display: table;
  }
  
  .realsoft-drag-item.cdk-drag-preview td {
    flex-grow: 2;
    font-size: 14px;
    padding: 4px;
    vertical-align: middle;
  }

  .realsoft-drag-item.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .realsoft-drag-item.cdk-drop-list-dragging.mat-row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
.no-records{
    text-align: center !important;
}

.realsoft-filter-container {
    position: relative !important;
    display: inline-block !important;
    &__child{
        padding: 11px 10px;
        position: absolute;
        top: 0px;
        right: 50%;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 6px;
        z-index: 999 !important;
        transform: translateX(60%);
    }
  }

  html:lang(ar) .realsoft-filter-container {
    position: relative !important;
    display: inline-block !important;
    &__child{
        padding: 11px 10px;
        position: absolute;
        top: 0px;
        right: 50%;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 6px;
        z-index: 999 !important;
        transform: translateX(30%);
    }
  }



  .no-padding .mat-form-field-wrapper{
    padding-bottom: 0;
  }

  .position{
    position: relative;
  }

  .filter-icon{
    margin-left: 0px;
    position: relative;
    top: 6px;
    cursor: pointer;
    color: #34A4DF;
    z-index: 2 !important;
  }
  .filter-icon-no-sorting{
    margin-left: 0px;
    position: relative;
    top: 0px;
    cursor: pointer;
    color: #34A4DF;
    z-index: 2 !important;
  }
  
  .first-filter-icon{
    margin-left: 0px;
    position: relative;
    top: -1px;
    cursor: pointer;
    color: #34A4DF;
    z-index: 2 !important;
  }

  .realsoft-status-span{
    width: 100% !important;
  }

