<mat-form-field class="custom-text-area" appearance="outline">
    <mat-label *ngIf="appearance === 'outline'">{{label}}</mat-label>

    <textarea matInput [value]="writtenValue" [disabled]="isDisabled" [placeholder]="placeholder"
    (input)="onChange($any($event.target).value)" (blur)="markAsTouched()" [required]="required ? required : isRequired"
    [attr.maxlength]="configurations?.maxlength" [rows]="configurations?.rows" [cols]="configurations?.cols" 
    [name]="configurations?.name"
    [(ngModel)]="writtenValue" (ngModelChange)="onChange($event)" ngDefaultControl
    ></textarea>

</mat-form-field>