@import 'variables.scss';

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    color: $sec-color !important;
    &:hover{
        color: $sec-color-hover !important;
    }
    &:focus{
        color: $sec-color-focus !important;
    }
    &:disabled{
        color: $disabled-color!important;
    }
}

.mat-form-field-appearance-outline .mat-form-field-flex {
    top: 1px !important;
}
.mat-calendar-body-selected{
    background-color: $sec-color;
    color: #fff;
}
.mat-calendar-body-cell.selected > .mat-calendar-body-cell-content,
.mat-calendar-body-cell.selected:hover > .mat-calendar-body-cell-content,
.mat-calendar-body-cell.selected > .mat-calendar-body-cell-content:hover {
  background-color: $sec-color !important;
  color: #fff !important;
}