$hierarchy-primary-top-level-border-color:#092242;
$hierarchy-primary-font-color:#142d4f;
$hierarchy-fisrt-level-border-color:#183458;
$hierarchy-first-level-border-hover-color:#2d486b;
$hierarchy-second-level-border-color:#254b7c;
$hierarchy-second-level-border-hover-color:#1a4680;
$hierarchy-third-level-border-color:#1d3d66;
$hierarchy-third-level-border-hover-color:#38557b;
$hierarchy-connectors:#092242;
  * {
    box-sizing:border-box;
  }
  .wrapper {
    margin:0 auto;
    padding-top:10px;
    padding-bottom:80px;
    transform-origin: 0px 0px;
  }
  
  .wrapper ul,li {
    list-style:none;
    margin:0;
    padding:0;
  }
  
  .top{
    position: relative;
  }
  
  .top .level {
    border: 1.5px solid $hierarchy-primary-top-level-border-color;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    font-family: Lato, Neo Sans Arabic;
    cursor: pointer;
    color: $hierarchy-primary-font-color;
    &:hover{
      border: 1px solid $hierarchy-primary-font-color;
    }
  }
  
  //Arrow Styling
  .arrow{
    position: absolute;
    left: 50%;
    top: 19.5px;
    &__first{
      position: absolute;
      transform: rotate(270deg);
      left: 158px;
    }
  }
  .ltr-arrow{
    position: absolute;
    left: 66px;
    top: 21px;
  }
  
  .second-arrow{
    position: absolute;
    top: 29px;
    margin-left: -10px;
  }
  
  //Start of Top to Bottom Styling
  .level {
    padding: 7px;
    border: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s, padding 0.3s;
    border-radius: 5px;
    text-align: center;
    font-size: 9px;
    cursor: pointer;
    &:hover{
      border: 1px solid #5c5c5c;
    }
    .department {
      font-weight:bold;
    }
  }
  .level.first{
    border: 1.5px solid $hierarchy-first-level-border-color!important;
    color: $hierarchy-primary-font-color !important;
    &:hover{
    border: 1px solid $hierarchy-first-level-border-hover-color !important;
    }
  }
  .level.second{
    border: 1.5px solid $hierarchy-second-level-border-color !important;
    color: $hierarchy-primary-font-color !important;
    &:hover{
    border: 1px solid $hierarchy-second-level-border-hover-color  !important;
    }
  }
  
  .level.third{
    border: 1.5px solid $hierarchy-third-level-border-color !important;
    color: $hierarchy-primary-font-color !important;
    &:hover{
    border: 1px solid $hierarchy-third-level-border-hover-color!important;
    }
  }
  
  .level .fourth{
    border: 1.5px solid $hierarchy-third-level-border-color!important;
    color: $hierarchy-primary-font-color !important;
    &:hover{
    border: 1px solid $hierarchy-third-level-border-hover-color !important;
    }
  }
  
  ul.orgchart {
    position: relative;
    padding-left:20px;
    display:flex;
    flex-direction:column;
    @media screen and (min-width:480px) {
      & {
        flex-direction:row-reverse;
        padding-left:0;
      }
    }
    flex-wrap:wrap;
    > li {
      margin-right:2px;
      padding-top:10px;
      flex-grow:1;
      @media screen and (max-width:480px) {
        & {
          width:100%;
          margin-right:2px;
        }
      }
    }
  
    ul {
      li {
        padding-top:10px;
        margin-left:8px;
        padding-left:10px;
        position:relative;
        &:before {
          content:'';
          position: absolute;
          top:0;
          bottom:0;
          left:0;
          width:1px;
          background:$hierarchy-primary-font-color;
        }
        &:after {
          content:'';
          position:absolute;
          top:20px;
          left:0;
          width:10px;
          height:1px;
          background:$hierarchy-primary-font-color;
        }
      }
      & > li:last-child:before {
        bottom:auto;
        height:20px;
      }
    }
  }
  .level.hover,
  ul.children .level{
    background:#e0e0e0 !important;
  }
  
  //End of Top to Bottom Styling
  
  //Start of Left to Right Styling
  
  .treeview {
    transform-origin: 0px 0px;
    ul {
      list-style: none;
      padding-left: 32px;
  
      li {
        padding: 15px 1px 0px 76px;
        position: relative;
  
        &:before {
          content: "";
          position: absolute;
          top: 22px;
          left: 46px;
          border-left: 2px solid $hierarchy-connectors;
          width: 1px;
          height: 100%;
        }
  
        &:after {
          content: "";
          position: absolute;
          border-top: 2px solid $hierarchy-connectors;
          top: 22px;
          left: 47px;
          width: 29px;
        }
  
        &:last-child:before {
          top: 0px;
          height: 22px;
        }
      }
    }
  
    & > ul {
    & > li {
      &:after,
      &:last-child:before {
        content: unset;
      }
  
      &:before {
        top: 90px;
        left: 36px;
      }
  
      &:not(:last-child) > ul > li {
        &:before {
          content: unset;
        }
      }
  
      
      & > ul {
        padding-left: 34px;
      }
    }
    
  }
    
    &__level {
      padding: 7px;
      display: inline-block;
      width: 170px;
      text-align: center;
      border-radius: 5px;
      font-weight: 500;
      font-size: 11px;
      position: relative;
      z-index: 1;
      cursor: pointer;
    }
    &__level_top{
    border: 1.5px solid $hierarchy-primary-top-level-border-color;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    font-family: Lato, Neo Sans Arabic;
    cursor: pointer;
    color: $hierarchy-primary-font-color;
      &:hover{
      border: 1px solid $hierarchy-primary-font-color;
      }
      padding: 7px;
      display: inline-block;
      width: 170px;
      text-align: center;
      border-radius: 5px;
      font-weight: 500;
      font-size: 11px;
      position: absolute;
      top: 32%;
      left: -25px;
      z-index: 1;
    }
    .first{
      border: 1.5px solid $hierarchy-first-level-border-color !important;
      color: $hierarchy-primary-font-color !important;
      &:hover{
      border: 1px solid $hierarchy-first-level-border-hover-color!important;
      }
    }
  
    .second{
      border: 1.5px solid $hierarchy-second-level-border-color !important;
      color: $hierarchy-primary-font-color !important;
      &:hover{
      border: 1px solid $hierarchy-second-level-border-hover-color !important;
      }
    }
    .third{
      border: 1.5px solid $hierarchy-third-level-border-color  !important;
      color: $hierarchy-primary-font-color !important;
      &:hover{
      border: 1px solid $hierarchy-third-level-border-hover-color!important;
      }
    }

    .fourth{
        border: 1.5px solid $hierarchy-third-level-border-color  !important;
        color: $hierarchy-primary-font-color !important;
        &:hover{
        border: 1px solid $hierarchy-third-level-border-hover-color!important;
        }
      }
  
    .level-title {
      cursor: pointer;
      user-select: none;
    }
  
  }
  