@import '../variables.scss';

[hidden] {
    display: none !important;
}

//Invalid Styling
.mat-focused.mat-warn .mat-form-field-outline-thick, .mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: $danger-color !important;
}

//Form Fields Width
.form-fields.mat-form-field{
    width: 100% !important;
}

//Disabled Form Field 
.form-fields.mat-form-field-disabled .mat-form-field-outline{
    color: $gray-color !important;
    background-color: $disabled-color !important;
}

//Invalid State Icon Styling
html:lang(ar) body, html:lang(en) body {
    .mat-form-field:not(.mat-form-field-appearance-legacy).mat-form-field-invalid {
      .mat-form-field-prefix , .mat-form-field-suffix {
        .mat-icon {
          color: $danger-color !important;
        }
      }
    }
}

//Disabled Form Field Label Styling
.form-fields.mat-form-field-disabled .mat-form-field-label{
    transform: translateY(-0.55em) scale(0.75) !important;
}
.form-fields.mat-form-field-disabled  .mat-form-field-outline-gap {
    border-top-color: currentColor !important;
}

.form-fields .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.mat-chip-list-wrapper {
    height: 39px;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: block !important;
    max-width: calc(100% - 20px) !important;
}

.multi-select-search-input{
    padding: 5px 14px !important;
    border: 1px solid $gray-color !important;
    border-radius: 4px !important;
    margin: 10px 13px 0px 13px !important;
    width: 79% !important; 
}
.single-select-search-input{
    border-radius: 4px !important;
    margin: 10px 13px 0px 13px !important;
    width: 79% !important;
}