@import '../variables.scss';
//Form Elements Paddings and Margins
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $primary-color !important;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $primary-color !important;
  }
  .mat-checkbox-frame, .mat-radio-outer-circle {
    border-color: #e3e3e3;
}

  .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: $primary-color!important;
  }

.mat-checkbox{
  &-indeterminate.mat-accent .mat-checkbox-background, &-checked.mat-accent .mat-checkbox-background{
  background-color: $primary-color !important;
  }
}
.mat-radio-button.mat-accent{
  & .mat-radio-inner-circle, & .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
  &.mat-radio-checked .mat-radio-persistent-ripple{
      background-color: $primary-color !important;
  }
  &.mat-radio-checked .mat-radio-outer-circle{
      border-color: $primary-color !important;
  }
  &-inner-container{
      background-color: $white-color !important;
  }
}
.mat-radio-outer-circle{
  border-color: $gray-color !important;
  &:hover{
      border-color: $primary-color !important;
  }
}
// .mat-checkbox:hover {
//   & .mat-checkbox-frame {
//     border-color: $primary-color !important;
//   }
//   & .mat-checkbox:disabled{
//     border-color: $gray-color !important;
//   }
// }
.mat-radio-disabled
{
  .mat-radio-outer-circle{
      background-color: $disabled-color !important;
      border-color: $gray-color !important;
  }
  .mat-radio-label-content{
      color: rgba(19,18,28,.70) !important;
  }
}
.mat-checkbox-disabled{
  .mat-checkbox-inner-container{
      background-color: $disabled-color !important;
  }
  .mat-checkbox-label{
      color: rgba(19,18,28,.70) !important;
  }
  .mat-checkbox-frame {
    border-color: $gray-color !important;
}
}

html:lang(ar) .mat-radio-container{
    margin-right: 20px !important;
}
html:lang(en) .mat-radio-container{
    margin-left: 6px !important;
}

//Toggle Button Styling
.mat-slide-toggle.mat-checked{
    & .mat-slide-toggle-thumb {
        background-color: $primary-color !important;
    }
    & .mat-slide-toggle-bar {
        background-color: $toggle-background !important;
    }
    & .mat-ripple-element {
        background-color: $primary-color !important;
    }
}

[hidden] {
    display: none !important;
}