@import '../variables.scss';
//Text Area Styling
.custom-text-area .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;

    &.mat-form-field-disabled{
        background-color: #fff !important;
    }
}
  
.custom-text-area .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
    min-width: calc(100% - 88px) !important; 
    &.mat-form-field-disabled{
        background-color: #fff !important;
    }
}
.custom-text-area .mat-input-element{
    position: relative;
    bottom: -1px;
    padding-left: 19px;
    width: 90%;
}
html:lang(ar) .custom-text-area .mat-input-element{
    padding-right: 19px;
    padding-left: unset;
}
.custom-text-area.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translate(0.4em,-0.7em) scale(0.75) !important;
    width: 133.3333333333% !important;
}
html:lang(ar) .custom-text-area.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translate(-0.4em,-0.7em) scale(0.75) !important;
    width: 133.3333333333% !important;
}
.custom-text-area.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #BABABA !important;
}
  /* Font color */
.custom-text-area.input.mat-input-element {
    color: #00000099 !important;
}
.custom-text-area.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
.custom-text-area.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.custom-text-area.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px !important;
}

// .custom-text-area.mat-form-field.mat-focused {
//     .mat-form-field-appearance-outline .mat-form-field-outline {
//         color: #BABABA !important;
//     }
//     .mat-form-field-label {
//         color: #00000099 !important;
//     }
//     .mat-input-element {
//         color: #00000099 !important;
//     }
// }

.custom-text-area.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #BABABA !important;
}
.custom-text-area .mat-form-field-wrapper .mat-form-field-label mat-label{
    padding-left: 19px !important;
}
.custom-text-area .mat-form-field-outline-gap {
    border-top: 1px solid !important;
    width: auto !important;
}
html:lang(ar) .custom-text-area .mat-form-field-wrapper .mat-form-field-label mat-label{
    padding-right: 19px !important;
    padding-left: unset !important;
    line-height: 24px !important;
}
.custom-text-area.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
    color:  #34314C !important;
 }
 .custom-text-area.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-label {
    color:  #34314C !important;
 }
 .custom-text-area.mat-form-field.mat-focused .mat-form-field-label {
    color: #369EFB !important;
}
.custom-text-area.mat-form-field.mat-focused .mat-form-field-outline {
    color: #369EFB !important;
}

.mat-focused.mat-warn .mat-form-field-outline-thick, .mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: $danger-color !important;
}
.mat-form-field{
    width: 100% !important;
}
.mat-form-field-disabled .mat-form-field-outline{
    color: $gray-color !important;
    background-color: $disabled-color !important;
    border-radius: 28px !important;
}

html:lang(ar) .custom-text-area  .mat-form-field-outline-start {
    border-radius: 0px 28px 28px 0px !important;
    min-width: 28px !important;

    &.mat-form-field-disabled{
        background-color: #fff !important;
    }
}
  
html:lang(ar) .custom-text-area .mat-form-field-outline-end {
    border-radius: 28px 0px 0px 28px !important;
    min-width: calc(100% - 88px) !important; 
    &.mat-form-field-disabled{
        background-color: #fff !important;
    }
}
html:lang(ar) .custom-text-area .mat-input-element {
    position: relative;
    bottom: -4px !important;
    padding-left: 19px;
    width: 90%;
}

